<!--
    templateType: page
    isAvailableForNewContent: true
-->



{% include '/magnetic-creative/partials/header-primary.html' %}

{% widget_container "page_content" %}
{% end_widget_container %}

<section class="ks-categorylist ks-categorylist--dark ks-categorylist--aboutus ks-no-padding--top ks-no-padding--bottom">
  <div class="ks-inner">
    <div class="ks-categorylist__bgimg" style="background-image: url('https://www.mykindredliving.com/hubfs/hs-cms-files/images/category-backdrop-indoor.jpg')"></div>

    <div class="ks-categorylist__main">
      <div class="ks-categorylist__titles">
        <ul>
          <li class="ks-headline ks-headline--md">
            <a href="/shop/outdoors/outside-cabinets">Outside Cabinets</a>
          </li>

          <li class="ks-headline ks-headline--md">
            <a href="/shop/outdoors/fire-bowls">Fire Bowls</a>
          </li>

          <li class="ks-headline ks-headline--md">
            <a href="/shop/outdoors/fireplaces-fire-pits">Fireplaces & Fire Pits</a>
          </li>

          <li class="ks-headline ks-headline--md">
            <a href="/shop/outdoors/signature-kitchens">Signature Kitchens</a>
          </li>

          <li class="ks-headline ks-headline--md">
            <a href="/shop/indoor/surrounds">Surrounds</a>
          </li>

          <li class="ks-headline ks-headline--md">
            <a href="/shop/indoor/hearths">Hearths</a>
          </li>

          <li class="ks-headline ks-headline--md">
            <a href="/shop/indoor/mantels">Mantels</a>
          </li>

          <li class="ks-headline ks-headline--md">
            <a href="/shop/indoor/accessories">Accessories</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</section>

{% include '/magnetic-creative/partials/footer-primary.html' %}