<!--
  templateType: page
  isAvailableForNewContent: true
-->
{% include '/magnetic-creative/partials/header-primary.html' %}

{% widget_container "page_content" %}
{% end_widget_container %}

<section class="ks-categorylist ks-categorylist--dark ks-no-padding--bottom">
  <div class="ks-inner">
    <div class="ks-categorylist__bgimg" style="background-image: url('https://www.mykindredliving.com/hubfs/hs-cms-files/images/category-backdrop-indoor.jpg')"></div>

    <div class="ks-categorylist__main">
      <div class="ks-categorylist__images">

        <figure class="ks-figure">
          <div class="ks-figure__liner" style="padding-bottom: 79.34782608695652%">
            <img src="https://www.mykindredliving.com/hubfs/hs-cms-files/images/child-category-thumbnail--placeholder.jpg" alt="">
          </div>
        </figure>

        <figure class="ks-figure">
          <div class="ks-figure__liner" style="padding-bottom: 79.34782608695652%">
            <img src="https://www.mykindredliving.com/hubfs/hs-cms-files/images/child-category-thumbnail--placeholder.jpg" alt="">
          </div>
        </figure>

        <figure class="ks-figure">
          <div class="ks-figure__liner" style="padding-bottom: 79.34782608695652%">
            <img src="https://www.mykindredliving.com/hubfs/hs-cms-files/images/child-category-thumbnail--placeholder.jpg" alt="">
          </div>
        </figure>

        <figure class="ks-figure">
          <div class="ks-figure__liner" style="padding-bottom: 79.34782608695652%">
            <img src="https://www.mykindredliving.com/hubfs/hs-cms-files/images/child-category-thumbnail--placeholder.jpg" alt="">
          </div>
        </figure>

      </div>
      <div class="ks-categorylist__titles">
        <ul>

          <li class="ks-headline ks-headline--md">
            <a href="/shop/indoor/surrounds?hsLang=en">Surrounds</a>
          </li>

          <li class="ks-headline ks-headline--md">
            <a href="/shop/indoor/hearths?hsLang=en">Hearths</a>
          </li>

          <li class="ks-headline ks-headline--md">
            <a href="/shop/indoor/mantels?hsLang=en">Mantels</a>
          </li>

          <li class="ks-headline ks-headline--md">
            <a href="/shop/indoor/accessories?hsLang=en">Accessories</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</section>

{% include '/magnetic-creative/partials/footer-primary.html' %}