<!--
    templateType: page
    isAvailableForNewContent: true
-->


{% include '/magnetic-creative/partials/header-primary.html' %}

{% set gallery_table_id = 2044395 %}

<section class="ks-heroimage">
  <figure class="ks-figure">
    <div class="ks-figure__liner">
      <img src="https://www.mykindredliving.com/hubfs/hs-cms-files/images/gallery-hero.jpg" alt="">
    </div>
  </figure>
</section>

<section class="ks-introtext ks-introtext--xlight">
  <div class="ks-inner">
    <div class="ks-introtext__content ks-no-padding--bottom">
      <div class="ks-introtext__preheading">
        <span class="ks-preheading">Gallery</span>
      </div>
      <div class="ks-introtext__main">
        <h1 class="ks-headline--md">Explore inspirational environments others have created with Kindred Outdoor products.</ h1>
      </div>
    </div>
  </div>
</section>

<section class="ks-gallery">

  <nav class="ks-resourcelist__nav">
    <div class="ks-inner">
      <ul>
        <li class="ks_resourcelist__nav__title">Filter By:</li>
        <li><span data-filter-type="All" class="active">All</span></li>
        <li><span data-filter-type="Building Blocks">Building Blocks</span></li>
        <li><span data-filter-type="Fire Bowls">Fire Bowls</span></li>
        <li><span data-filter-type="Fireplaces">Fireplaces</span></li>
        <li><span data-filter-type="Signature Kitchens">Signature Kitchens</span></li>
        <li><span data-filter-type="Surrounds">Surrounds</span></li>
      </ul>
    </div>
  </nav>

  <div class="ks-gallery__main">
    <div class="ks-inner">
    {% for item in hubdb_table_rows(gallery_table_id) %}
      {% set related_product = item.related_product | first %}
      {% set product_type = item.category | first %}
      {% if item.visible %}
        <div class="ks-gallery__item {% if item.image.height > item.image.width %} ks-gallery__item--tall {% endif %}" data-category="{{ item.category.name }}" data-width="{{ item.width.name }}" data-index="{{ loop.index0 }}">
          <figure class="ks-figure ks-gallery__item-image" style="padding-bottom: {{item.image.height / item.image.width * 100}}%">
            <img data-src="{{ item.image.url }}" alt="{{ item.image.alt }}">
            <div class="ks-hovercard">
              <a href="/products/{{ related_product.hs_path }}" class="ks-wraparound-link"></a>
              <div class="ks-hovercard__liner">
                <div class="ks-hovercard__title">
                  <h4>{{ related_product.product_title }}</h4>
                </div>
                <div class="ks-hovercard__image">
                  <figure class="ks-figure">
                    <div class="ks-figure__liner">
                      <img src="{{ related_product.featured_image }}" alt="">
                    </div>
                  </figure>
                </div>
              </div>
            </div>
          </figure>
        </div>
      {% endif %}

    {% endfor %}
    </div>
  </div>

  {# <div class="ks-gallery__loadmore">
    <div class="ks-inner">
      <button id="ks-loadmore" class="ks-btn ks-btn--primary">Load More</button>
    </div>
  </div> #}

</section>

{% include '/magnetic-creative/partials/footer-primary.html' %}
