<!--
    templateType: page
    isAvailableForNewContent: true
-->




{% include '/magnetic-creative/partials/header-primary.html' %}

{% set gallery_table_id = 2044395 %}

<section class="ks-gallery">
  <div class="ks-inner">
    {% for row in hubdb_table_rows(gallery_table_id) %}
      <div class="ks-gallery__item ks-gallerycard" data-image-width="{{ row.image.width }}">
        <div class="ks-gallerycard__content">
          <figure class="ks-figure">
            <div class="ks-figure__liner" style="padding-bottom: {{ (row.image.height / row.image.width) * 100 }}%;">
              <img src="{{row.image.url}}" alt="">
            </div>
          </figure>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

{% include '/magnetic-creative/partials/footer-primary.html' %}
