<!--
    templateType: page
    isAvailableForNewContent: true
-->

{% include '/magnetic-creative/partials/header-primary.html' %}

{% module "module_157871730561411" path="/magnetic-creative/modules/hero-slider", label="hero-slider", no_wrapper=true %}


<section class="ks-section">
    <div class="ks-inner">

        <div class="ks-3col--flex">
            <div class="ks-column">
                <h3 class="ks-heading--mini">Small Heading</h3>
            </div>
            <div class="ks-column">

            </div>
            <div class="ks-column">

                {{ ksProductObjects | pprint }}
            </div>
        </div>

    </div>
</section>


{% include '/magnetic-creative/partials/footer-primary.html' %}
