<!--
    templateType: error_page
    isAvailableForNewContent: true
-->


{% include '/magnetic-creative/partials/header-primary.html' %}

<main role="main" class="ks-maincontent">
<div class="ks-site-container">

  <div class="ks-squeezeintro" style="background-color: #fff">
    <div class="ks-inner">
      <div class="ks-squeezeintro__content">
        <div class="ks-squeezeintro__text">
          <h2 class="ks-headline">500 - Server Error</h2>
          <h1 class="ks-headline--fake">
            <p>We’re fixing some things on our end. Thank you for your patience!</p>
          </h1>
        </div>
      </div>
    </div>
  </div>

</div>
</main>

{% include '/magnetic-creative/partials/footer-primary.html' %}
