<!--
  templateType: page
  isAvailableForNewContent: true
-->


{% include '/magnetic-creative/partials/header-primary.html' %}

{% widget_container "page_content" %}
{% end_widget_container %}

<section class="ks-contactblock">
  <div class="ks-inner">
    <div class="ks-contactblock__info">
      <div class="ks-contactblock__info__content">
        <h3 class="ks-headline">Contact Information:</h3>
        <p class="ks-contactblock__info__item"><span>Phone:</span>&nbsp;<a href="tel:8009251492">(800) 925-1492</a></p>
        <p class="ks-contactblock__info__item"><span>Hours:</span>&nbsp;7am &mdash; 4pm Pacific</p>
        <p class="ks-contactblock__info__item"><span>Address:</span>&nbsp;<a href="https://goo.gl/maps/YgT4cJQuShG2" target="_blank" rel="noopener noreferrer">1370 Grand Ave, Building B, San Marcos, CA 92078, United States</a></p>
        <p class="ks-contactblock__info__item">If you are looking for a distributor, visit <a href="http://www.eldoradostone.com/where-to-buy/" target="_blank" rel="noopener noreferrer">Find A Dealer</a>. You can also <a href="http://www.eldoradostone.com/faqs/" target="_blank" rel="noopener noreferrer">browse our FAQs</a> for answers to common questions.</p>
      </div>
    </div>
    <div class="ks-contactblock__form">
      <!--[if lte IE 8]>
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
      <![endif]-->
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
      <script>
        hbspt.forms.create({
        portalId: "6084868",
        formId: "8ee308be-1d57-4370-a4d5-1ecba98f6801"
      });
      </script>
    </div>
  </div>
</section>


{% include '/magnetic-creative/partials/footer-primary.html' %}