<!--
    templateType: page
    isAvailableForNewContent: true
-->


{% include '/magnetic-creative/partials/header-primary.html' %}

{# all tables associated w/ shop #}
{% set ksProductsTableId = 2036891 %}
{% set ksParentCategoryTableId = 2036894 %}
{% set ksChildCategoryTableId = 2036892 %}

{# determine parent (1) or child (2) category #}
{% set ksSlugDepth = dynamic_page_route_level %}

{# row id for matching category #}
{% set ksCategoryRowId = dynamic_page_hubdb_row.hs_id %}

{# get table id for the matching category/row #}
{% set ksCategoryRowTableId = ksParentCategoryTableId if ksSlugDepth == 1 else ksChildCategoryTableId %}

{# get all row data for category #}
{% set ksCategoryRowData = hubdb_table_row(ksCategoryRowTableId, ksCategoryRowId) %}



{# parent category page ---------------------- #}
{% if ksSlugDepth == 1 %}
  {% set ksChildTableId = dynamic_page_hubdb_row.hs_child_table_id %}
  {% set ksChildTableFilterQuery = 'parent_category__contains=' + ksCategoryRowData.name %}
  {% set ksChildTableData = hubdb_table_rows(ksChildTableId, ksChildTableFilterQuery) %}

  <section class="ks-section" style="background:#fff;padding:5rem 0;margin-top:5rem;">
    <div class="ks-inner">
      <h1>Parent Category: {{ksCategoryRowData.name}}</h1>
      <h5>Category Info:</h5>
      <code>
        {{ ksCategoryRowData | pprint }}
      </code>
      <br><br>
      <h5>Child Categories</h5>
      <code>
        {{ ksChildTableData | pprint }}
      </code>
    </div>
  </section>

{% endif %}


{# child category page - %parent%/%child% ------------------ #}
{% if ksSlugDepth == 2 %}
  {% set ksEncodedQueryVal = ksCategoryRowData.name | trim | urlencode %}
  {% set ksProductsFilterQuery = 'child_category__contains=' + ksEncodedQueryVal %}
  {% set ksProductData = hubdb_table_rows(ksProductsTableId, ksProductsFilterQuery) %}

  <section class="ks-section" style="background:#fff;padding:5rem 0;margin-top:5rem;">
    <div class="ks-inner">
      <h1>Child Category: {{dynamic_page_hubdb_row.name}}</h1>
      <h5>Category Info:</h5>
      <code>
        {{ ksCategoryRowData | pprint }}
      </code>
      <br><br>
      <h5>Matching Products:</h5>
      <code>
        {{ksProductData | pprint}}
      </code>
    </div>
  </section>

{% endif %}





{% include '/magnetic-creative/partials/footer-primary.html' %}