<!--
    templateType: page
    isAvailableForNewContent: true
-->




{% include '/magnetic-creative/partials/header-primary.html' %}

{% if dynamic_page_hubdb_row %}
    {% set product = dynamic_page_hubdb_row %}
    {% set parent_cat = product.parent_category | first %}
    {% set child_cat = product.child_category | first %}

    <!-- dump out hubdb data for JS to read -->
    <div
        style="display: none; opacity: 0; overflow: hidden; height: 0px; width: 0px;"
        id="shopify-product-data"
        data-product-id="{{ product.product_id }}"
        data-product-handle="{{ product.product_handle }}"
        data-storefront-id="{{ product.storefront_id }}"
        data-parent-cat="{{ parent_cat[1] | lower | replace(' ', '-') }}"
        data-child-cat="{{ child_cat[1] | lower | replace(' ', '-') }}"
    ></div>

    <section class="ks-producthero bg-light">
        <div class="ks-inner">
            <div class="ks-producthero__gallery">
                <div class="ks-producthero__mainslider">
                    <div class="ks-producthero__mainslide">
                        <img src="{{ product.featured_image }}" alt="" id="ks-featuredimage">
                    </div>
                </div>
                <div class="ks-producthero__thumbslider" id="ks-galleryimagestarget"></div>
            </div>

            <div class="ks-producthero__main">
                <div class="ks-liner">
                    <div class="ks-producthero__sku">
                        <span class="ks-preheading" id="ks-skutarget"></span>
                    </div>
                    <div class="ks-producthero__title">
                        <h1>{{ product.product_title }}</h1>
                        <div class="ks-producthero__price">
                            <span id="ks-pricetarget"></span>
                        </div>
                    </div>
                    <div class="ks-producthero__shortdescription ks-rte-content">
                        {{ product.short_description }}
                    </div>
                    <div class="ks-producthero__currentselection">
                        <span>Selection</span>
                        <p id="ks-selectiontarget"></p>
                    </div>
                    <div class="ks-producthero__variants" id="ks-variantstarget">
                    </div>
                    <div class="ks-producthero__options" id="ks-optionstarget">
                    </div>
                    <div class="ks-producthero__quantity ks-quantity">
                        <div class="ks-quantity__label">
                            <span>Quantity</span>
                        </div>
                        <div class="ks-quantity__actions">
                            <span class="ks-quantity__minus ks-quantity__action">-</span>
                            <span class="ks-quantity__num" id="ks-quantitytarget">1</span class="ks-quantity__minus">
                            <span class="ks-quantity__plus ks-quantity__action">+</span>
                        </div>
                    </div>
                    <div class="ks-producthero__addtocart">
                        <button
                            class="ks-btn"
                            id="ks-addtocart"
                            data-variant-id="{{ product.storefront_id }}"
                            data-quantity="1"
                        >Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ks-productdesc bg-light">
        <div class="ks-inner">
            <div class="ks-productdesc__heading">
                <h3 class="ks-heading--sm">{{ product.product_title }}</h3>
            </div>
            <div class="ks-productdesc__body ks-rte-content" id="ks-descriptiontarget">
                {{ product.full_description }}
            </div>
        </div>
    </section>

    <section class="ks-relatedproducts">
        <div class="ks-relatedproducts__preheading">
            <div class="ks-inner">
                <span class="ks-preheading">Related Products</span>
            </div>
        </div>
        <div class="ks-relatedproducts__main">
            <div class="ks-inner">
            {% for related_product in product.related_products %}
                <div class="ks-card ks-card--image">
                    <a href="/products/{{ related_product.hs_path }}" class="ks-linkover">
                        <div class="ks-card__liner">
                            <figure class="ks-figure">
                                <div class="ks-figure__liner">
                                    <img src="{{ related_product.featured_image }}" alt="">
                                </div>
                            </figure>
                            <div class="ks-card__title">
                                <p>{{ related_product.product_title }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
{% endif %}

{% include '/magnetic-creative/partials/footer-primary.html' %}