<!--
    templateType: page
    isAvailableForNewContent: true
-->

{% include '/magnetic-creative/partials/header-primary.html' %}

{% widget_container "page_content" %}
{% end_widget_container %}

<!-- <section class="ks-heroimage">
    <figure class="ks-figure">
        <div class="ks-figure__liner">
            <img src="https://cdn2.hubspot.net/hubfs/6084868/hs-cms-files/images/kindred-surrounds-hero.jpg" alt="">
        </div>
    </figure>
</section>

<section class="ks-breadcrumb">
    <div class="ks-inner">
        <a href="#0"><span>&#8249;</span> Surrounds</a>
    </div>
</section>

<section class="ks-introtext ks-introtext--light">
    <div class="ks-inner">
        <div class="ks-introtext__content">
            <div class="ks-introtext__preheading">
                <span class="ks-preheading">Indoor Products</span>
            </div>
            <div class="ks-introtext__main">
                <h1>Kindred helps create an irresistible outdoor retreat of warmth and ambiance. Let our products be the centerpiece of your backyard.</h1>
            </div>
        </div>
    </div>
</section> -->


{% include '/magnetic-creative/partials/footer-primary.html' %}
