<!--
    templateType: page
    isAvailableForNewContent: true
-->


{% include '/magnetic-creative/partials/header-primary.html' %}

{% if dynamic_page_hubdb_row %}
    {% set product = dynamic_page_hubdb_row %}
    {% set parent_cat = product.parent_category | first %}
    {% set child_cat = product.child_category | first %}

    <!-- dump out hubdb data for JS to read -->
    <div
        style="display: none; opacity: 0; overflow: hidden; height: 0px; width: 0px;"
        id="shopify-product-data"
        data-product-id="{{ product.product_id }}"
        data-product-handle="{{ product.product_handle }}"
        data-storefront-id="{{ product.storefront_id }}"
        data-parent-cat="{{ parent_cat[1] | lower | replace(' ', '-') }}"
        data-child-cat="{{ child_cat[1] | lower | replace(' ', '-') }}"
    ></div>

    <nav class="ks-breadcrumb bg-light">
        <div class="ks-inner">
            <a href="/shop/{{ parent_cat.hs_path }}">&#60; {{ parent_cat.name }}</a>
            <a href="/shop/{{ parent_cat.hs_path }}/{{ child_cat.hs_path }}">&#60; {{ child_cat.name }}</a>
        </div>
    </nav>

    <section class="ks-producthero bg-light">
        <div class="ks-inner">
            <div class="ks-producthero__gallery">
                <div class="ks-producthero__mainslider">
                    <div class="ks-producthero__mainslide">
                        <img src="{{ product.featured_image }}" alt="" id="ks-featuredimage">
                    </div>
                    <div class="ks-producthero__enlarge ks-lightbox-trigger">
                        <div class="ks-svg-wrapper">
                            <div class="ks-svg-wrapper__liner">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 759.38 759.38"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><polygon class="cls-1" points="75.94 75.95 303.78 75.95 303.78 0 0 0 0 303.78 75.94 303.78 75.94 75.95"/><polygon class="cls-1" points="75.94 455.6 0 455.6 0 759.38 303.78 759.38 303.78 683.43 75.94 683.43 75.94 455.6"/><polygon class="cls-1" points="683.43 683.43 455.6 683.43 455.6 759.38 759.38 759.38 759.38 455.6 683.43 455.6 683.43 683.43"/><polygon class="cls-1" points="455.6 0 455.6 75.95 683.43 75.95 683.43 303.78 759.38 303.78 759.38 0 455.6 0"/></g></g></svg>
                            </div>
                        </div>
                    </div>
                    <div class="ks-gallerycontrols">
                        <div class="ks-gallerycontrols__liner">
                            <div class="ks-svg-wrapper ks-gallerycontrols__prev">
                                <div class="ks-svg-wrapper__liner">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left">
                                        <line x1="19" y1="12" x2="5" y2="12"></line>
                                        <polyline points="12 19 5 12 12 5"></polyline>
                                    </svg>
                                </div>
                            </div>
                            <div class="ks-svg-wrapper ks-gallerycontrols__next">
                                <div class="ks-svg-wrapper__liner">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                        <line x1="5" y1="12" x2="19" y2="12"></line>
                                        <polyline points="12 5 19 12 12 19"></polyline>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ks-producthero__thumbslider" id="ks-galleryimagestarget"></div>
            </div>

            <div class="ks-producthero__main">
                <div class="ks-liner">
                    <div class="ks-producthero__sku">
                        <span class="ks-preheading" id="ks-skutarget"></span>
                    </div>
                    <div class="ks-producthero__title">
                        <h1>{{ product.product_title }}</h1>
                        <div class="ks-producthero__price">
                            <span id="ks-pricetarget"></span>
                        </div>
                    </div>
                    <div class="ks-producthero__shortdescription ks-rte-content">
                        {{ product.short_description }}
                    </div>
                    <div class="ks-producthero__currentselection">
                        <span>Selection</span>
                        <p id="ks-selectiontarget"></p>
                    </div>
                    <div class="ks-producthero__variants" id="ks-variantstarget">
                    </div>
                    <div class="ks-producthero__options" id="ks-optionstarget">
                        <!-- Products can have multiple types of options, eg "Size" + "Fuel" -->
                        <div class="ks-producthero__options__group"></div>
                        <div class="ks-producthero__options__group"></div>
                        <div class="ks-producthero__options__group"></div>
                    </div>
                    <div class="ks-producthero__quantity ks-quantity">
                        <div class="ks-quantity__label">
                            <span>Quantity</span>
                        </div>
                        <div class="ks-quantity__actions">
                            <span class="ks-quantity__minus ks-quantity__action">-</span>
                            <span class="ks-quantity__num" id="ks-quantitytarget">1</span class="ks-quantity__minus">
                            <span class="ks-quantity__plus ks-quantity__action">+</span>
                        </div>
                    </div>
                    <div class="ks-producthero__addtocart">
                        <button
                            class="ks-btn"
                            id="ks-addtocart"
                            data-variant-id="{{ product.storefront_id }}"
                            data-quantity="1"
                        >Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ks-productdesc bg-light">
        <div class="ks-inner">
            <div class="ks-productdesc__heading">
                <h3 class="ks-heading--sm">{{ product.product_title }}</h3>
            </div>
            <div class="ks-productdesc__body" id="ks-descriptiontarget">
                {% if product.product_blueprint %}
                <div class="ks-blueprint bg-light">
                    <div class="ks-blueprint__image">
                        <figure class="ks-figure">
                            <div class="ks-figure__liner" style="padding-bottom: {{ (product.product_blueprint.height / product.product_blueprint.width) * 100 }}%">
                                <img src="{{ product.product_blueprint.url }}" alt="{{ product.product_blueprint.alt }}">
                            </div>
                        </figure>
                    </div>
                    <div class="ks-blueprint__actions">
                        {% if product.spec_sheet %}
                            <a class="ks-blueprint__specsheet" href="{{ product.spec_sheet }}" target="_blank" rel="noopener noreferrer">View Spec Sheet</a class="ks-blueprint__actions__specsheet">
                        {% endif %}
                        {% if product.installation_video %}
                            <a class="ks-blueprint__installationvid" href="{{ product.installation_video }}" target="_blank" rel="noopener noreferrer">View Installation Video</a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                <div class="ks-rte-content">
                    {{ product.full_description }}
                </div>
            </div>
        </div>
    </section>

    <section class="ks-relatedproducts">
        <div class="ks-relatedproducts__preheading">
            <div class="ks-inner">
                <span class="ks-preheading">Related Products</span>
            </div>
        </div>
        <div class="ks-relatedproducts__main">
            <div class="ks-inner">
            {% for related_product in product.related_products %}
                <div class="ks-card ks-card--image">
                    <a href="/products/{{ related_product.hs_path }}" class="ks-linkover">
                        <div class="ks-card__liner">
                            <figure class="ks-figure">
                                <div class="ks-figure__liner">
                                    <img src="{{ related_product.featured_image }}" alt="">
                                </div>
                            </figure>
                            <div class="ks-card__title">
                                <p>{{ related_product.product_title }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
{% endif %}

{% include '/magnetic-creative/partials/footer-primary.html' %}