<!--
    templateType: page
    isAvailableForNewContent: true
-->

{% include '/magnetic-creative/partials/header-primary.html' %}

<section class="ks-herotext"> <!-- padding-top is until we have JS watching the header height -->
    <div class="ks-inner">
        <div class="ks-herotext__content">
            <span class="ks-preheading">Outdoors</span>
            <h1>Kindred helps create an irresistible outdoor retreat of warmth and ambiance. Let our products be the centerpiece of your backyard.</h1>
            <p>Aliquam vitae magna dolor. Donec volutpat massa et ligula auctor lacinia. Fusce ornare, elit eget elementum tincidunt, lectus elit suscipit tellus, in sollicitudin augue est eu elit. Nullam justo sapien, accumsan sit amet rutrum vel, luctus a lectus. Sed vulputate urna non ex viverra, in malesuada erat commodo.</p>
        </div>
    </div>
</section>

{% include '/magnetic-creative/partials/footer-primary.html' %}
