<!--
    templateType: page
    isAvailableForNewContent: true
-->




{% include '/magnetic-creative/partials/header-primary.html' %}

<section class="ks-herotext"> <!-- padding-top is until we have JS watching the header height -->
    <div class="ks-inner">
        <div class="ks-herotext__content">
            <div class="ks-herotext__preheading">
                <span class="ks-preheading">Outdoors</span>
            </div>
            <div class="ks-herotext__main">
                <h1>Kindred helps create an irresistible outdoor retreat of warmth and ambiance. Let our products be the centerpiece of your backyard.</h1>
                <p>Aliquam vitae magna dolor. Donec volutpat massa et ligula auctor lacinia. Fusce ornare, elit eget elementum tincidunt, lectus elit suscipit tellus, in sollicitudin augue est eu elit. Nullam justo sapien, accumsan sit amet rutrum vel, luctus a lectus. Sed vulputate urna non ex viverra, in malesuada erat commodo.</p>
            </div>
        </div>
    </div>
</section>

<section class="ks-guidecallout">
    <div class="ks-guidecallout__flex">
        <div class="ks-guidecallout__mainimg" style="background-image: url('https://cdn2.hubspot.net/hubfs/6084868/hs-cms-files/images/kindred-kitchen.jpg');"></div>
        <div class="ks-guidecallout__text">
            <div class="ks-guidecallout__text__bgimg ks-fill-parent" style="background-image: url('https://cdn2.hubspot.net/hubfs/6084868/hs-cms-files/images/Cliffstone-Whitebark.jpg');"></div>
            <div class="ks-guidecallout__text__content">
                <div class="ks-guidecallout__preheading">
                    <span>A Step-By-Step Guide</span>
                </div>
                <h2>Building Your Own Amazing Outdoor Living Space</h2>
                <a href="#0" class="ks-btn">Get Your Free Guide</a>
            </div>
        </div>
    </div>
</section>

{% include '/magnetic-creative/partials/footer-primary.html' %}
