<!--
    templateType: page
    isAvailableForNewContent: true
-->



{% include '/magnetic-creative/partials/header-primary.html' %}

{% set table_id = dynamic_page_hubdb_table_id %}
{% for row in hubdb_table_rows(table_id) %}
    {% if row.hs_path == request.path.replace('/', '') %}
        <section class="ks-heroimage">
            <figure class="ks-figure">
                <div class="ks-figure__liner">
                    <img src="{{row.image.url}}" alt="">
                </div>
            </figure>
        </section>

        <section class="ks-productlist">
            <div class="ks-inner">

            {% for product in row.products %}
                <div class="ks-card ks-card--image">
                    <a href="/products/{{product.hs_path}}" class="ks-linkover">
                        <div class="ks-card__liner">
                            <figure class="ks-figure">
                                <div class="ks-figure__liner">
                                    <img src="{{product.featured_image}}" alt="">
                                </div>
                            </figure>
                            <div class="ks-card__title">
                                <p>{{product.product_title}}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            </div>
        </section>
    {% endif %}
{% endfor %}

{% include '/magnetic-creative/partials/footer-primary.html' %}
