<!--
    templateType: page
    isAvailableForNewContent: true
-->

{% include '/magnetic-creative/partials/header-primary.html' %}

{% widget_container "page_content" %}
{% end_widget_container %}

<section class="ks-productlist">
    <div class="ks-inner">
        <div class="ks-card ks-card--image">
            <a href="#0" class="ks-linkover">
                <div class="ks-card__liner">
                    <figure class="ks-figure">
                        <div class="ks-figure__liner">
                            <img src="https://cdn2.hubspot.net/hubfs/6084868/hs-cms-files/images/kindred-the-bryant-thumbnail.jpg" alt="">
                        </div>
                    </figure>
                    <div class="ks-card__title">
                        <p>The Bryant</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="ks-card ks-card--image">
            <a href="#0" class="ks-linkover">
                <div class="ks-card__liner">
                    <figure class="ks-figure">
                        <div class="ks-figure__liner">
                            <img src="https://cdn2.hubspot.net/hubfs/6084868/hs-cms-files/images/kindred-the-bryant-thumbnail.jpg" alt="">
                        </div>
                    </figure>
                    <div class="ks-card__title">
                        <p>The Bryant</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="ks-card ks-card--image">
            <a href="#0" class="ks-linkover">
                <div class="ks-card__liner">
                    <figure class="ks-figure">
                        <div class="ks-figure__liner">
                            <img src="https://cdn2.hubspot.net/hubfs/6084868/hs-cms-files/images/kindred-the-bryant-thumbnail.jpg" alt="">
                        </div>
                    </figure>
                    <div class="ks-card__title">
                        <p>The Bryant</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="ks-card ks-card--image">
            <a href="#0" class="ks-linkover">
                <div class="ks-card__liner">
                    <figure class="ks-figure">
                        <div class="ks-figure__liner">
                            <img src="https://cdn2.hubspot.net/hubfs/6084868/hs-cms-files/images/kindred-the-bryant-thumbnail.jpg" alt="">
                        </div>
                    </figure>
                    <div class="ks-card__title">
                        <p>The Bryant</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="ks-card ks-card--image">
            <a href="#0" class="ks-linkover">
                <div class="ks-card__liner">
                    <figure class="ks-figure">
                        <div class="ks-figure__liner">
                            <img src="https://cdn2.hubspot.net/hubfs/6084868/hs-cms-files/images/kindred-the-bryant-thumbnail.jpg" alt="">
                        </div>
                    </figure>
                    <div class="ks-card__title">
                        <p>The Bryant</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="ks-card ks-card--image">
            <a href="#0" class="ks-linkover">
                <div class="ks-card__liner">
                    <figure class="ks-figure">
                        <div class="ks-figure__liner">
                            <img src="https://cdn2.hubspot.net/hubfs/6084868/hs-cms-files/images/kindred-the-bryant-thumbnail.jpg" alt="">
                        </div>
                    </figure>
                    <div class="ks-card__title">
                        <p>The Bryant</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="ks-card ks-card--image">
            <a href="#0" class="ks-linkover">
                <div class="ks-card__liner">
                    <figure class="ks-figure">
                        <div class="ks-figure__liner">
                            <img src="https://cdn2.hubspot.net/hubfs/6084868/hs-cms-files/images/kindred-the-bryant-thumbnail.jpg" alt="">
                        </div>
                    </figure>
                    <div class="ks-card__title">
                        <p>The Bryant</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="ks-card ks-card--image">
            <a href="#0" class="ks-linkover">
                <div class="ks-card__liner">
                    <figure class="ks-figure">
                        <div class="ks-figure__liner">
                            <img src="https://cdn2.hubspot.net/hubfs/6084868/hs-cms-files/images/kindred-the-bryant-thumbnail.jpg" alt="">
                        </div>
                    </figure>
                    <div class="ks-card__title">
                        <p>The Bryant</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="ks-card ks-card--image">
            <a href="#0" class="ks-linkover">
                <div class="ks-card__liner">
                    <figure class="ks-figure">
                        <div class="ks-figure__liner">
                            <img src="https://cdn2.hubspot.net/hubfs/6084868/hs-cms-files/images/kindred-the-bryant-thumbnail.jpg" alt="">
                        </div>
                    </figure>
                    <div class="ks-card__title">
                        <p>The Bryant</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="ks-card ks-card--image">
            <a href="#0" class="ks-linkover">
                <div class="ks-card__liner">
                    <figure class="ks-figure">
                        <div class="ks-figure__liner">
                            <img src="https://cdn2.hubspot.net/hubfs/6084868/hs-cms-files/images/kindred-the-bryant-thumbnail.jpg" alt="">
                        </div>
                    </figure>
                    <div class="ks-card__title">
                        <p>The Bryant</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>

{% include '/magnetic-creative/partials/footer-primary.html' %}
