<!--
  templateType: page
  isAvailableForNewContent: true
-->
{% include '/magnetic-creative/partials/header-primary.html' %}

{# all tables associated w/ shop #}
{% set ksProductsTableId = 2036891 %}
{% set ksParentCategoryTableId = 2036894 %}
{% set ksChildCategoryTableId = 2036892 %}

{# determine parent (1) or child (2) category eg: 1 == /shop/indoor, 2 == /shop/indoor/surrounds #}
{% set ksSlugDepth = dynamic_page_route_level %}

{# row id for matching category #}
{% set ksCategoryRowId = dynamic_page_hubdb_row.hs_id %}

{# get table id for the matching category/row #}
{% set ksCategoryRowTableId = ksParentCategoryTableId if ksSlugDepth == 1 else ksChildCategoryTableId %}

{# get all row data for category #}
{% set ksCategoryRowData = hubdb_table_row(ksCategoryRowTableId, ksCategoryRowId) %}

{# parent category page ---------------------- #}
{% if ksSlugDepth == 1 %}
  {% set parentCategory = dynamic_page_hubdb_row %}
  {% set ksChildTableId = parentCategory.hs_child_table_id %}
  {% set ksChildTableFilterQuery = 'parent_category__contains=' + ksCategoryRowData.name %}
  {% set ksChildTableData = hubdb_table_rows(ksChildTableId, ksChildTableFilterQuery) %}

  <section class="ks-introtext ks-introtext--hero ">
    <div
      class="ks-introtext__bgimg"
      style="background-image: url(https://www.mykindredliving.com/hubfs/hs-cms-files/images/mountains-bg-dark@2x.png)"
    ></div>
    <div class="ks-inner">
      <div class="ks-introtext__content">
        <div class="ks-introtext__preheading">
          <span class="ks-preheading">Outdoors</span>
        </div>
        <div class="ks-introtext__main">
          <h1 class="ks-headline--md">{{ parentCategory.listing_page_heading }}</h1>
          <div class="ks-rte-content">
            <p>{{ parentCategory.listing_page_intro_body }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ks-categorylist">
    <div class="ks-inner">
      <div class="ks-categorylist__bgimg" style="background-image: url('{{ ksCategoryRowData.image.url }}')"></div>

      <div class="ks-categorylist__main">
        <div class="ks-categorylist__images">
          {% for child in ksChildTableData %}
            <figure class="ks-figure">
              <div class="ks-figure__liner" style="padding-bottom: {{ (child.thumbnail_image.height / child.thumbnail_image.width) * 100 }}%">
                <img src="{{ child.thumbnail_image.url }}" alt="{{ child.thumbnail_image.alt }}">
              </div>
            </figure>
          {% endfor %}
        </div>
        <div class="ks-categorylist__titles">
          <ul>
            {% for child in ksChildTableData %}
              <li class="ks-headline ks-headline--md">
                <a href="/shop/{{ ksCategoryRowData.hs_path }}/{{ child.hs_path }}">{{ child.hs_name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="ks-resourcecallout">
    <div class="ks-resourcecallout__flex">
      <div class="ks-resourcecallout__mainimg" style="background-image: url('https://cdn2.hubspot.net/hubfs/6084868/hs-cms-files/images/kindred-kitchen.jpg');"></div>
      <div class="ks-resourcecallout__text">
        <div class="ks-resourcecallout__text__bgimg ks-fill-parent" style="background-image: url('https://cdn2.hubspot.net/hubfs/6084868/hs-cms-files/images/Cliffstone-Whitebark.jpg');"></div>
        <div class="ks-resourcecallout__text__content">
          <div class="ks-resourcecallout__preheading">
            <span>A Step-By-Step Guide</span>
          </div>
          <h3>Building Your Own Amazing Outdoor Living Space</h3>
          <!--HubSpot Call-to-Action Code -->
          <span class="hs-cta-wrapper" id="hs-cta-wrapper-3b7271c9-bab6-4f33-8ce5-aaab88b12595">
            <span class="hs-cta-node hs-cta-3b7271c9-bab6-4f33-8ce5-aaab88b12595" id="hs-cta-3b7271c9-bab6-4f33-8ce5-aaab88b12595">
              <!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]-->
              <a href="https://cta-redirect.hubspot.com/cta/redirect/6084868/3b7271c9-bab6-4f33-8ce5-aaab88b12595" >
                <img class="hs-cta-img" id="hs-cta-img-3b7271c9-bab6-4f33-8ce5-aaab88b12595" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/6084868/3b7271c9-bab6-4f33-8ce5-aaab88b12595.png"  alt="    A Step-By-Step Guide  Building Your Own Amazing Outdoor Living Space Get Your Free Guide &lt;&gt;"/>
              </a>
            </span>
            <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>
            <script type="text/javascript"> hbspt.cta.load(6084868, '3b7271c9-bab6-4f33-8ce5-aaab88b12595', {}); </script>
          </span>
          <!-- end HubSpot Call-to-Action Code -->
        </div>
      </div>
    </div>
  </section>
{% endif %}


{# child category page - %parent%/%child% ------------------ #}
{% if ksSlugDepth == 2 %}
  {% set ksEncodedQueryVal = ksCategoryRowData.name | trim | urlencode %}
  {% set ksProductsFilterQuery = 'child_category__contains=' + ksEncodedQueryVal %}
  {% set ksProductData = hubdb_table_rows(ksProductsTableId, ksProductsFilterQuery) %}

  <section class="ks-heroimage">
    <figure class="ks-figure">
        <div class="ks-figure__liner">
            <img src="{{ ksCategoryRowData.image.url }}" alt="">
        </div>
    </figure>
  </section>

  <section class="ks-introtext ks-introtext--xlight">
    <div class="ks-inner">
      <div class="ks-introtext__content">
        <div class="ks-introtext__preheading">
          <span class="ks-preheading">Outdoors</span>
        </div>
        <div class="ks-introtext__main">
          <h1 class="ks-headline--md">{{ ksCategoryRowData.category_headline }}</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="ks-productlist">
    <div class="ks-inner">

    {% for product in ksProductData %}
      <div class="ks-card ks-card--image">
        <a href="/products/{{ product.hs_path }}" class="ks-linkover">
          <div class="ks-card__liner">
            <figure class="ks-figure">
              <div class="ks-figure__liner">
                <img src="{{ product.featured_image }}" alt="">
              </div>
            </figure>
            <div class="ks-card__title">
              <p>{{ product.product_title }}</p>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
    </div>
  </section>

  {% set otherProductsFilterQuery = 'parent_category__contains=' + dynamic_page_hubdb_row.parent_category[0].name %}
  {% set otherProductsInChildCategory = hubdb_table_rows(ksChildCategoryTableId, otherProductsFilterQuery) %}

  <section class="ks-categorylist ks-categorylist--dark">
    <div class="ks-inner">
      <div class="ks-categorylist__bgimg" style="background-image: url('{{ ksCategoryRowData.image.url }}')"></div>

      <div class="ks-categorylist__main">
        <div class="ks-categorylist__images">
          {% for child in otherProductsInChildCategory %}
            <figure class="ks-figure">
              <div class="ks-figure__liner" style="padding-bottom: {{ (child.thumbnail_image.height / child.thumbnail_image.width) * 100 }}%">
                <img src="{{ child.thumbnail_image.url }}" alt="{{ child.thumbnail_image.alt }}">
              </div>
            </figure>
          {% endfor %}
        </div>
        <div class="ks-categorylist__titles">
          <ul>
            {% for child in otherProductsInChildCategory %}
              <li class="ks-headline ks-headline--md">
                <a href="/shop/{{ ksCategoryRowData.hs_path }}/{{ child.hs_path }}">{{ child.hs_name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% include '/magnetic-creative/partials/footer-primary.html' %}