<!--
    templateType: page
    isAvailableForNewContent: true
-->


{% include 'magnetic-creative/partials/header-squeeze.html' %}

<div class="ks-squeezeintro">
  <div class="ks-inner">
    <div class="ks-squeezeintro__content">
      <div class="ks-squeezeintro__text">
        <h2 class="ks-headline">
          Coming Soon
        </h2>
        <h1 class="ks-headline--fake">
          <p>Distinguished by craftsmanship, accentuated by firelight, and designed to gather round.</p>
          <p>Stay close as we bring together all the elements needed for your very own kindred experience.</p>
        </h1>
      </div>
      <div class="ks-squeezeintro__products">
        <ul>
          <li>Fire Bowls</li>
          <li>Fireplaces + Fire Pits</li>
          <li>Outdoor Kitchens</li>
          <li>Fireplace Surrounds</li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% include '/magnetic-creative/partials/footer-squeeze.html' %}