*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  background: $dark;
}

body {
  font-family: $body-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.55;
}

.ks-maincontent .ks-site-container {
  background: $light;
}

// Typography

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  margin-top: 0;
  line-height: 1.1;
  @include font-smoothing();
  letter-spacing: 0.03em;
}

.ks-preheading {
  color: $primary;
  display: inline-block;
}

// Grid

// Layout
.ks-site-container {
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}

.ks-inner {
  width: 90%;
  margin: 0 auto;

  &--sm {
    width: 60%;
  }
}

[class*='flex-container'] {
  display: flex;
}

// Buttons
.ks-btn {
  display: inline-block;
  background-color: $primary;
  text-decoration: none;
  color: $white;
  font-weight: bold;
  border-radius: 2em;
  padding: 1.15em 1.5em;
  transition: background-color 0.4s $ease-out-circ, color 0.4s $ease-out-circ;

  &:hover {
    cursor: pointer;
    background-color: $secondary;
    color: $primary;
  }
}

button.ks-btn {
  outline: none;
  appearance: none;
  border: 0;
}

// Headlines
.ks-headline {
  &--mini {
    font-size: 0.9em;
  }

  &--md {
    font-size: 2em;
    @extend .k-weight--sm;
  }

  &--lg {
    font-size: 2.7em;
  }

  &--primary {
    color: $dark-green;
    @extend .k-weight--sm;
  }
}

// Weights
.k-weight {
  &--sm {
    font-weight: 400;
  }

  &--lg {
    font-weight: 700;
  }
}

// RTE Content
.ks-rte-content {
  p:last-of-type {
    margin-bottom: 0;
  }
}

.ks-accent-text {
  font-family: $heading-font;
  color: $brown;
}

// Elements
section {
  &.ks-block {
    &--lg {
      padding: 12.5em 0;
    }
  }

  &.ks-no-padding {
    &--top {
      padding-top: 0 !important;
    }

    &--bottom {
      padding-bottom: 0 !important;
    }
  }
}
figure {
  margin: 0;

  &.ks-figure {
    position: relative;

    img,
    svg {
      @include fill-parent();
    }
  }
}
.ks-breadcrumb {
  > .ks-inner {
    padding: 1em 0;
    border-bottom: 1px solid $light-grey;
  }

  a {
    text-decoration: none;
    color: $grey;
    font-family: $heading-font;

    &:hover {
      color: $primary;
    }
  }
}
.bg-light {
  background: $bg-light;
}

@media (min-width: $bp-lg) {
  .ks-headline {
    &--md {
      font-size: 2.7em;
    }

    &--lg {
      font-size: 3.2em;
    }
  }
}

@media (min-width: $bp-xl) {
  .ks-headline {
    &--md {
      font-size: 3em;
    }

    &--lg {
      font-size: 3.8em;
    }
  }
}
