*,
*:before,
*:after {
  box-sizing: border-box;
  backface-visibility: hidden;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  background: $dark;
}

body {
  font-family: $body-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.55;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
}

.ks-maincontent .ks-site-container {
  background: $light;
}

// Typography

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  margin-top: 0;
  line-height: 1.1;
  @include font-smoothing();
  letter-spacing: 0.03em;
}

.ks-preheading {
  color: $primary;
  display: inline-block;
}

// Grid

// Layout
main {
  > .ks-site-container {
    position: relative;
  }
}

.ks-site-container {
  max-width: 1800px;
  margin-right: auto;
  margin-left: auto;
}

.ks-inner {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;

  &--sm {
    width: 60%;
  }
}

.ks-no-padding {
  &--bottom {
    padding-bottom: 0 !important;
  }
}

[class*='flex-container'] {
  display: flex;
}

// Buttons
.ks-btn {
  display: inline-block;
  background-color: $primary;
  text-decoration: none;
  color: $white;
  font-weight: bold;
  border-radius: 2em;
  padding: 1.15em 1.5em;
  transition: background-color 0.4s $ease-out-circ, color 0.4s $ease-out-circ;

  &--secondary {
    color: $primary;
    background-color: transparent;
    border: 1px solid $secondary;

    &:hover {
      background-color: $dark !important;
      color: $white !important;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: $secondary;
    color: $primary;
  }

  &:disabled {
    background: lighten($primary, 15%) !important;

    &:hover {
      cursor: not-allowed;
      color: $white;
    }
  }
}

button.ks-btn {
  outline: none;
  appearance: none;
  border: 0;
}

// Headlines
.ks-headline {
  font-weight: 400;
  font-family: $heading-font;

  &--fake {
    font-size: 1em;
    font-weight: normal;
    font-family: $body-font;
  }

  &--mini {
    font-size: 0.9em;
  }

  &--md {
    font-size: 2em;
    @extend .k-weight--sm;
  }

  &--lg {
    font-size: 2.7em;
  }

  &--primary {
    color: $dark-green;
    @extend .k-weight--sm;
  }
}

// Weights
.k-weight {
  &--sm {
    font-weight: 400;
  }

  &--lg {
    font-weight: 700;
  }
}

// RTE Content
.ks-rte-content {
  #{headings()} {
    color: $dark-green;
    margin-top: 2rem;
    margin-bottom: 0.667rem;
  }

  h1 {
    margin-bottom: 1em;
  }

  p {
    margin-top: 0;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  a {
    color: $primary;
    text-decoration: none;

    &:hover {
      color: darken($primary, 15%);
    }
  }

  ol,
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 1em;

    li {
      position: relative;
      margin-bottom: 0.5em;
      padding-left: 1.5em;

      &:before {
        position: absolute;
        left: 0;
        display: block;
      }
    }
  }

  ul {
    li {
      &:before {
        content: '';
        top: 0.667rem;
        background: $dark-green;
        height: 0.33em;
        width: 0.33em;
        border-radius: 50%;
      }
    }
  }

  ol {
    li {
      &:before {
        color: $primary;
      }

      @for $i from 1 through 25 {
        &:nth-child(#{$i}):before {
          content: '#{$i}.';
        }
      }
    }
  }
}

.ks-accent-text {
  font-family: $heading-font;
  color: $brown;
}

// Elements
section {
  &.ks-block {
    &--lg {
      padding: $padding-md 0;
    }
  }

  &.ks-no-padding {
    &--top {
      padding-top: 0 !important;
    }

    &--bottom {
      padding-bottom: 0 !important;
    }
  }
}
figure {
  margin: 0;

  &.ks-figure {
    position: relative;

    img,
    svg {
      @include fill-parent();
    }
  }
}
.ks-breadcrumb {
  > .ks-inner {
    padding: 1em 0;
    border-bottom: 1px solid $light-grey;
  }

  a {
    text-decoration: none;
    color: $grey;
    font-family: $heading-font;

    &:hover {
      color: $primary;
    }
  }
}

.ks-richtext {
  padding: $padding-sm 0;
}

.bg-light {
  background: $bg-light;
}

.bg-dark {
  background: $dark;
}

.ks-quantity {
  * {
    user-select: none;
  }

  &__label,
  &__actions {
    display: inline-block;
  }

  &__label {
    margin-right: 6.75em;
  }

  &__minus,
  &__plus {
    &:hover {
      cursor: pointer;
    }
  }

  &__minus,
  &__num {
    margin-right: 0.5em;
  }
}

.ks-cookienotice {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99999;
  background: $bg-light;
  border-top: 1px solid $primary;
  transition: transform 0.4s $ease-out-circ;
  transform: translateY(100%);

  &.active {
    transform: translateY(0);
  }

  .ks-inner {
    padding: 1em 0;
  }

  p {
    margin: 0;
  }

  &__text {
    margin-bottom: 1em;
  }

  &__action {
    text-align: center;
  }
}

@media (min-width: $bp-lg) {
  .ks-headline {
    &--md {
      font-size: 2.7em;
    }

    &--lg {
      font-size: 3.2em;
    }
  }

  .ks-richtext {
    padding: $padding-lg 0;

    > .ks-inner {
      width: 60%;
    }
  }
}

@media (min-width: $bp-xl) {
  .ks-headline {
    &--md {
      font-size: 3em;
    }

    &--lg {
      font-size: 3.8em;
    }
  }

  section {
    &.ks-block {
      &--lg {
        padding: $padding-xl 0;
      }
    }
  }

  .ks-cookienotice {
    .ks-inner {
      padding: 2em 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-flow: row nowrap;
    }

    &__text {
      flex-basis: 85%;
    }

    &__action {
      flex-basis: 15%;
    }

    &__action {
      text-align: right;
    }
  }
}

@media (min-width: $bp-xxl) {
  .ks-richtext {
    > .ks-inner {
      width: 50%;
    }
  }
}

@media (min-width: 1800px) {
  .ks-richtext {
    > .ks-inner {
      width: 40%;
    }
  }
}
