.ks-cartsidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 75%;
  background: $white;
  z-index: 99;
  pointer-events: none;
  transform: translateY(-100%);
  transition: transform 0.4s $ease-out-circ;

  &.active {
    pointer-events: all;
    transform: translateY(0);
    transition-duration: 0.6s;
    transition-timing-function: $ease-out-quart;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 4em;
  }

  &__items {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: scroll;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */

    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }
  }

  &__item {
    border-bottom: 1px solid $secondary;
    padding: 1em;

    &__flex {
      display: flex;
      justify-content: flex-start;
      flex-flow: row wrap;
      align-items: flex-start;
    }

    &__image {
      flex-basis: 15%;
      margin-right: 2.5%;
      position: relative;

      img {
        display: block;
        max-width: 100%;
      }
    }

    &__main {
      flex-basis: 82.5%;
      overflow: scroll;
      -ms-overflow-style: none; /* IE 11 */
      scrollbar-width: none; /* Firefox 64 */

      p {
        line-height: 1.4;
        margin: 0;
        white-space: nowrap;
      }

      &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
      }
    }

    &__actions {
      flex-basis: 100%;
      padding-left: 17.5%;
      margin-top: 1em;

      span {
        color: $primary;
        display: inline-block;
        vertical-align: middle;

        &:hover {
          cursor: pointer;
          color: darken($primary, 15%);

          circle,
          line {
            stroke: darken($primary, 15%);
          }
        }
      }

      .ks-svg-wrapper {
        width: 1.5em;
        position: relative;

        &__liner {
          padding-bottom: 100%;
        }

        svg {
          @include m-fill-parent();

          circle,
          line {
            stroke-width: 1px;
          }
        }
      }
    }

    &__remove {
      float: right;
    }

    &__title {
      font-family: $heading-font;
    }
  }

  &__actions {
    padding: 0 1em 8em 1em;

    .ks-btn {
      width: 100%;
      font-size: 75%;
      text-align: center;
    }
  }

  &__close {
    position: absolute;
    top: 1em;
    right: 1em;

    .ks-svg-wrapper {
      position: relative;
      width: 2em;

      &:hover {
        cursor: pointer;

        svg {
          transform: rotate(360deg);

          circle,
          line {
            stroke: $primary;
          }
        }
      }

      &__liner {
        padding-bottom: 100%;
      }

      svg {
        @include m-fill-parent();
        transition: transform 0.4s $ease-in-out-back;

        circle,
        line {
          stroke-width: 1px;
        }

        line {
          transition: stroke 0.4s $ease-out-circ;
        }
      }
    }
  }
}

@media (min-width: $bp-md) {
  .ks-cartsidebar {
    width: 50%;
  }
}

@media (min-width: $bp-xl) {
  .ks-cartsidebar {
    &__actions {
      padding: 0 4em 2em 4em;
      .ks-btn {
        font-size: 100%;
      }
    }
  }
}

@media (min-width: $bp-xxl) {
  .ks-cartsidebar {
    width: 40em;
  }
}
