.ks-cartsidebar,
#ks-cartsidebar__cover {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 75%;
  max-width: 30em;
}

/* 
* The cover is necessary since overflow: hidden; on the main .site-container
* won't work with the fixed cart element. As a hack, cover the cart with a 
* <div /> of the same height/width that has the same background color as the body.
*/
#ks-cartsidebar__cover {
  background: $dark;
  z-index: 999999;
  transform: translateX(100%);
}

.ks-cartsidebar {
  background: $white;
  z-index: 99;
  pointer-events: none;
  transform: translateX(100%);
  transition: transform 0.8s $ease-out-circ;

  &.active {
    pointer-events: all;
    transform: translateX(0);
    transition-duration: 0.4s;
    transition-timing-function: $ease-out-quart;
  }

  &.loading {
    .ks-cartsidebar__content {
      &:after {
        opacity: 0.667;
        z-index: 10;
        pointer-events: all;
      }
    }
  }

  &__noitems {
    text-align: center;
    padding: 0 1em;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 4em;

    &:after {
      @include m-fill-parent();
      display: block;
      content: '';
      background: $secondary;
      opacity: 0;
      z-index: -1;
      pointer-events: none;
      user-select: none;
      transition: opacity 0.4s $ease-out-quart;
    }
  }

  &__items {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }
  }

  &__item {
    border-bottom: 1px solid $white;
    padding: 1em;

    &:last-child {
      border-bottom: none;
    }

    &__flex {
      display: flex;
      justify-content: flex-start;
      flex-flow: row wrap;
      align-items: flex-start;
    }

    &__image {
      flex-basis: 15%;
      margin-right: 2.5%;
      position: relative;

      img {
        display: block;
        max-width: 100%;
      }
    }

    &__main {
      flex-basis: 82.5%;
      overflow: scroll;
      -ms-overflow-style: none; /* IE 11 */
      scrollbar-width: none; /* Firefox 64 */

      p {
        line-height: 1.4;
        margin: 0;
        white-space: nowrap;
      }

      &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
      }
    }

    &__variant,
    &__quantity,
    &__price {
      font-size: 75%;
    }

    &__actions {
      flex-basis: 100%;
      padding-left: 17.5%;
      margin-top: 1em;

      span {
        color: $primary;
        display: inline-block;
        vertical-align: middle;

        &:hover {
          cursor: pointer;
          color: darken($primary, 15%);

          circle,
          line {
            stroke: darken($primary, 15%);
          }
        }
      }

      .ks-svg-wrapper {
        width: 1.5em;
        position: relative;

        &__liner {
          padding-bottom: 100%;
        }

        svg {
          @include m-fill-parent();

          circle,
          line {
            stroke-width: 1px;
          }
        }
      }
    }

    &__remove {
      float: right;
    }

    &__title {
      font-family: $heading-font;
    }
  }

  &__actions {
    padding: 0 1em 8em 1em;
    background: $white;

    .ks-btn {
      width: 100%;
      font-size: 75%;
      text-align: center;

      &:first-of-type {
        margin-bottom: 0.5em;
      }
    }
  }

  &__subtotal {
    padding: 1em 0;

    p {
      font-weight: bold;
      margin: 0;

      span {
        font-weight: normal;
      }
    }
  }

  &__close {
    position: absolute;
    top: 1em;
    right: 1em;

    .ks-svg-wrapper {
      position: relative;
      width: 2em;

      &:hover {
        cursor: pointer;

        svg {
          transform: rotate(360deg);

          circle,
          line {
            stroke: $primary;
          }
        }
      }

      &__liner {
        padding-bottom: 100%;
      }

      svg {
        @include m-fill-parent();
        transition: transform 0.4s $ease-in-out-back;

        circle,
        line {
          stroke-width: 1px;
          stroke: $dark-green;
        }

        line {
          transition: stroke 0.4s $ease-out-circ;
        }
      }
    }
  }
}

@media (min-width: $bp-lg) {
  .ks-cartsidebar {
    &__item {
      &__main {
        overflow: unset;

        p {
          // this can wrap now that vertical space isn't an issue
          white-space: unset;
        }
      }

      &__variant,
      &__quantity,
      &__price {
        font-size: 100%;
      }
    }
  }
}

@media (min-width: $bp-xl) {
  .ks-cartsidebar {
    &__noitems {
      padding: 0 4em;
    }

    &__actions {
      padding: 0 4em 2em 4em;

      .ks-btn {
        font-size: 100%;
      }
    }
  }
}

@media (min-width: $bp-xxl) {
  .ks-cartsidebar {
    &__item {
      padding: 1em 2em;
    }
  }
}
