.is-location-finder {
  #{headings()} {
    color: $dark-green;
  }
}

.cs-wtb--headline {
  margin-bottom: 3em;
}

.cs-wtb--listitem {
  transition: opacity 0.4s $ease-out-circ;
}
.cs-infowindow-content .cs-wtb--listitem__products,
.cs-wtb--listitem__products {
  margin: 1em 0;

  p {
    margin: 0;

    &:first-child {
      font-weight: bold;
    }
  }
}

.cs-selectwrap {
  position: relative;

  &:after {
    position: absolute;
    top: 50%;
    right: 0.5em;
    transform: translateY(-50%);
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-top: 0.5em solid $primary;
  }
}

.cs-wtb--forminput:first-child,
.cs-wtb--listitem__products {
  display: none;
}

#cs-wtb-searchform {
  .cs-wtb--forminput,
  .cs-wtb-formbtn {
    float: none;
    width: 100%;
    margin-bottom: 1em;
  }

  /* pseudo-element for the dropdown arrow on IE10+ */
  select::-ms-expand {
    display: none;
  }

  select,
  input {
    padding: 1em 0 !important;
    color: #777;
  }

  a {
    color: $primary;

    &:hover {
      color: darken($primary, 15%);
    }
  }
}
