.ks-sampleoffer {
  padding: $padding-sm 0;

  &__image {
    .ks-figure {
      &__liner {
        padding-bottom: 63.29%;
      }
    }
  }

  &__main {
    .ks-headline {
      color: $dark-green;
    }
  }
}

.ks-footer {
  background: $white;
  padding-top: $padding-lg;

  form.hs-form {
    label {
      color: $primary;
    }

    input[type='text'],
    input[type='email'] {
      color: $light-grey;
    }

    .submitted-message {
      color: $light-grey;
    }
  }

  > .ks-site-container {
    position: relative;
  }

  &__content {
    // background-color: $dark;
  }

  &__bgimg {
    @include m-fill-parent();
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
    transform: translateY(-$padding-xl);
    pointer-events: none;
    user-select: none;
  }

  &__top {
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background: $dark;
      z-index: 1;
      pointer-events: none;
      user-select: none;
    }

    > .ks-inner {
      position: relative;
      z-index: 2;
      padding-top: 14em;
    }

    .ks-footer {
      &__logo {
        max-width: 8.75em;
        margin: auto;

        .ks-figure {
          &__liner {
            padding-bottom: 100%;
          }
        }
      }

      &__form {
        h3 {
          font-size: 1.6em;
        }

        .submitted-message {
          color: $light-grey;
        }
      }
    }

    &__item {
      margin-bottom: 2em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__bottom {
    background-color: $dark;
    padding: 2em 0;

    > .ks-inner {
      margin-top: 0 !important;
      position: relative;
      z-index: 2;
    }

    &__item {
      color: $light-grey;
    }

    ul {
      @include unstyle-list();

      a {
        color: $light-grey;
        font-size: 0.8em;
      }
    }
  }

  &__nav {
    margin-bottom: 0;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      a {
        text-decoration: none;
        font-size: 0.8em;
      }
    }

    &__list {
      margin-bottom: 2em;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        color: $light-grey;
        font-weight: 400;

        &:hover {
          color: $primary;
        }
      }
    }
  }

  &__form {
    h3 {
      color: $primary;
    }

    form.hs-form {
      label {
        color: $light-grey;
        font-size: 1em;
        font-family: $body-font;
      }

      .actions {
        display: none;
      }
    }
  }

  &--squeeze {
    background: $bg-light;

    .ks-inner {
      position: relative;
      z-index: 2;
      padding: $padding-sm 0;
    }

    &__intro {
      margin-bottom: 2em;

      .ks-headline,
      p {
        color: $light-grey;
      }

      .ks-headline {
        font-size: 2.75em;
        margin: 0 0 1rem 0;
      }

      p {
        margin: 0;
      }
    }

    &__form {
      form.hs-form {
        display: flex;
        flex-flow: column nowrap;

        .hs-form-field {
          margin-bottom: 1em;
        }

        div:nth-child(4) {
          order: 2;
        }

        .hs-richtext {
          p {
            color: $light-grey;
            margin: 0;

            a {
              color: $primary;
              text-decoration: none;

              &:hover {
                color: darken($primary, 15%);
              }
            }
          }
        }

        .actions {
          margin: 2em 0;
        }

        input[type='submit'] {
          width: 100% !important;
        }
      }
    }
  }
}

@media (min-width: $bp-sm) {
  .ks-sampleoffer {
    > .ks-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-flow: row wrap;
    }

    &__image,
    &__main {
      flex-basis: 45%;
    }
  }

  .ks-footer {
    &__top {
      > .ks-inner {
        display: flex;
        flex-flow: row wrap;
        padding-top: $padding-lg !important;
      }

      .ks-footer {
        &__logo {
          flex-basis: 8.75em;
          break-after: always;
          margin: 0;
          margin-bottom: 2em;
        }

        &__nav,
        &__form {
          flex-basis: 50%;
        }
      }
    }
  }
}

@media (min-width: $bp-md) {
  .ks-sampleoffer {
    padding-bottom: $padding-sm;

    &__image {
      flex-basis: 52.5%;
    }

    &__main {
      flex-basis: 38.5%;
    }
  }

  .ks-footer {
    .ks-inner {
      padding-top: 0;
    }

    &__top {
      > .ks-inner {
        justify-content: space-between;
        align-items: flex-start;
      }

      .ks-footer {
        &__logo {
          break-after: unset;
          flex-basis: 15%;
        }

        &__nav {
          flex-basis: 30%;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          flex-flow: row wrap;

          &__list {
            flex-basis: 45%;

            li {
              margin-bottom: 1em;
            }
          }
        }

        &__form {
          flex-basis: 30%;
        }
      }
    }

    &--squeeze {
      &__intro {
        margin-bottom: 0;

        .ks-headline {
          font-size: 3.25em;
        }
      }

      .ks-inner {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
      }

      &__intro,
      &__form {
        flex-basis: 45%;
      }
    }
  }
}

@media (min-width: $bp-xl) {
  .ks-sampleoffer {
    padding-bottom: $padding-sm;

    &__image {
      flex-basis: 54%;
    }

    &__main {
      flex-basis: 40%;
    }
  }

  .ks-footer {
    margin-top: 0;
    padding: 0;

    > .ks-site-container {
      padding-top: 28vw;
    }

    &__bgimg {
      transform: translateY(0);
    }

    &__content {
      padding-top: $padding-xl;
    }

    .ks-inner {
      margin-top: -24vw;
    }

    .ks-footer {
      &__logo {
        flex-basis: 15%;
      }

      &__nav {
        flex-basis: 50%;

        &__list {
          flex-basis: 31%;
        }
      }

      &__form {
        flex-basis: 20%;
      }
    }

    &--squeeze {
      &__intro {
        flex-basis: 25%;

        .ks-headline {
          margin-bottom: 4.425rem;
        }
      }

      &__form {
        flex-basis: 58.75%;

        form.hs-form {
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-start;

          .hs-form-field {
            margin-bottom: 0;
            flex-basis: 28%;
            margin-right: 8%;
            margin-bottom: 3em;

            &:nth-child(3) {
              margin-right: 0;
            }
          }

          div:nth-child(4) {
            align-self: flex-end;
          }

          .hs-submit {
            flex-basis: 28%;
            margin-right: 8%;
          }

          .actions {
            margin: 0;
          }

          input[type='submit'] {
            padding: 1.15em 0;
          }
        }
      }
    }
  }
}

@media (min-width: $bp-xxl) {
  .ks-footer {
    &--squeeze {
      background: $dark;

      > .ks-site-container {
        position: relative;
        background-color: $bg-light;
      }
    }
  }
}

@media (min-width: 1800px) {
  .ks-footer {
    background: $dark;

    &--squeeze {
      background-color: transparent;

      > .ks-site-container {
        background-color: $bg-light !important;
      }
    }

    > .ks-site-container {
      padding-top: 31.5em;
      background-color: $white;
    }

    .ks-inner {
      margin-top: -27em;
    }
  }
}
