
.ks-mainheader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 19999;
  padding: 1em 15px;

  > .ks-inner {
    width: 100%;
  }
};

.ks-brand {
  width: 7em;
  a {
    display: block;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.9;
    }
  }
}

.ks-brand-logo--svg {
  @include fluid-element(217, 417, 'svg');

  svg path {
    fill: $grey-beige;
  }
}

.ks-mainnav {
  position: absolute;
  top: 100%;
  right: 0;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    > li {
      display: block;
      font-size: 0.9em;
    }
  }

  a {
    color: $grey-beige;
    text-decoration: none;
  }
}



@media (min-width:$bp-md) {

  .ks-mainnav {
    ul {
      > li {
        display: inline-block;
      }
    }
  }
}