.ks-mainheader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 19999;
  padding: 0;

  &--alt {
    .ks-site-container {
      background: transparent;
      padding: 1em 0;
    }

    .ks-brand-logo--svg {
      @include fluid-element(217, 417, 'svg');
      svg path {
        fill: $white;
      }
    }

    .ks-mainnav {
      background: transparent;
      color: $dark;
    }
  }

  .ks-inner {
    width: 100%;
    position: relative;
  }
}

.magnetic-creative-templates-homepage {
  .ks-mainheader .ks-site-container {
    // padding: 0.5em 15px;
    // background: rgba($dark, 0.5);
  }
}

.ks-brand {
  width: 7em;
  margin-left: auto;
  margin-right: auto;

  a {
    display: block;
    transition: opacity 0.3s ease;
    &:hover {
      opacity: 0.9;
    }
  }
}

.ks-brand-logo--svg {
  @include fluid-element(217, 417, 'svg');
  svg path {
    fill: $grey-beige;
  }
}

.ks-navtoggle {
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -1.25em;

  &.open {
    + .ks-mainnav {
      transform: translateY(0);
    }
  }
}
.ks-navtoggle--btn {
  @include btn-reset();
  display: block;
  width: 2.5em;
  height: 2.5em;
  background: $primary;
  border-radius: 0.3em;
}

.ks-mainnav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: $dark;
  transform: translateY(-140%);
  transition: transform 0.4s $ease-out-circ;
  z-index: -1;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    > li {
      display: block;
      font-size: 0.9em;
      border-bottom: 1px solid $dark-green;
      vertical-align: middle;

      &.ks-mainnav--icon {
        display: none;
      }
    }

    a {
      padding: 0.5em 1em;

      &:hover {
        color: darken($primary, 15%);
      }
    }
  }

  a {
    display: block;
    color: $grey-beige;
    text-decoration: none;
  }
}

.ks-mainnav--icon {
  display: none;
}

@media (min-width: $bp-md) {
  .ks-mainheader {
    .ks-inner {
      width: 90%;
    }
  }

  .ks-navtoggle {
    display: none;
  }

  .ks-mainnav {
    display: block;
    background: transparent;
    transform: translateY(0);
    pointer-events: none;
    z-index: 1;
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
    @include clearfix();

    &__left,
    &__right {
      float: left;
      width: 50%;
    }

    &__right {
      text-align: right;
    }

    ul {
      > li {
        display: inline-block;
        border-bottom: none;

        &.ks-mainnav--icon {
          display: inline-block;
        }
      }

      a {
        pointer-events: all;
      }
    }
  }

  .ks-mainnav--icon {
    display: inline-block;
  }
}
