.ks-mainheader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 19999;
  padding: 0;
  transform: translateY(0);
  transition: transform 0.2s $ease-out-circ;

  .ks-site-container {
    transition: background-color 0.5s $ease-out-circ;
    background-color: $light-grey;
  }

  &.traveling {
    transform: translateY(-100%);

    &.scroll-visible {
      transform: translateY(0);
    }
  }

  &.solid {
    .ks-site-container {
      background: $white;
    }

    .ks-brand-logo--svg {
      svg path {
        fill: $primary;
      }
    }

    .ks-navtoggle--btn {
      svg {
        stroke: $primary;

        line {
          stroke: $primary;
        }
      }
    }
  }

  &--alt {
    .ks-site-container {
      background: transparent;
    }

    .ks-brand-logo--svg {
      svg path {
        fill: $white;
      }
    }

    .ks-navtoggle--btn {
      background-color: transparent;

      svg {
        stroke: $white;

        line {
          stroke: $white;
        }
      }
    }
  }

  .ks-inner {
    width: 100%;
    position: relative;
    padding: 1em 0 1.5em;
  }
}

.ks-brand {
  width: 7em;
  margin-left: auto;
  margin-right: auto;

  a {
    display: block;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.9;
    }
  }
}

.ks-brand-logo--svg {
  @include fluid-element(217, 417, 'svg');
  svg path {
    fill: $primary;
  }
}

.ks-navtoggle {
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -1.25em;

  &.open {
    + .ks-mainnav {
      transform: translateY(0);
    }
  }
}
.ks-navtoggle--btn {
  @include btn-reset();
  display: block;
  width: 2.5em;
  height: 2.5em;
  background: $primary;
  border-radius: 0.3em;
}

.ks-mainnav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: $dark;
  transform: translateY(-150%);
  transition: transform 0.5s $ease-out-circ;
  z-index: -1;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    > li {
      display: block;
      font-size: 0.9em;
      border-bottom: 1px solid $dark-green;

      &.ks-mainnav--icon {
        display: none;
      }
    }

    a {
      padding: 0.5em 1em;

      &:hover {
        color: darken($primary, 15%);
      }
    }
  }

  a {
    display: block;
    color: $grey-beige;
    text-decoration: none;
  }
}

.ks-mainnav--icon {
  display: none;
}

@media (min-width: $bp-md) {
  .ks-mainheader {
    .ks-inner {
      width: 90%;
    }

    .ks-mainnav {
      ul > li a {
        color: $primary;

        &:hover {
          color: darken($primary, 15%);
        }
      }
    }

    &--alt {
      .ks-mainnav {
        ul > li a {
          color: $light-grey;
        }
      }

      &.scroll-visible {
        ul > li a {
          color: $primary;
        }
      }
    }
  }

  .ks-navtoggle {
    display: none;
  }

  .ks-mainnav {
    display: block;
    background: transparent;
    transform: translateY(0);
    pointer-events: none;
    z-index: 1;
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
    @include clearfix();

    &__left,
    &__right {
      float: left;
      width: 50%;
    }

    &__right {
      text-align: right;
    }

    ul {
      > li {
        display: inline-block;
        border-bottom: none;
        vertical-align: middle;

        &.ks-mainnav--icon {
          display: inline-block;
        }
      }

      a {
        pointer-events: all;
        padding: 0 1em;
      }

      .ks-searchtrigger {
        padding-left: 0 !important;
      }

      .ks-carttrigger a {
        padding-right: 0 !important;
      }
    }
  }

  .ks-mainnav--icon {
    display: inline-block;
  }
}

@media (min-width: $bp-xl) {
  .ks-mainheader {
    ul {
      > li {
        a {
          font-size: 1.25em;
        }
      }
    }
  }

  .ks-brand {
    width: 8.5em;
  }
}

@media (min-width: $bp-xl) {
  .ks-mainheader {
  }

  .ks-brand {
    width: 12em;
  }
}

@media (min-width: $bp-xxl) {
  .ks-mainheader {
    ul {
      > li {
        a {
          padding: 0 1.5em;
        }
      }
    }
  }
}

@media (min-width: 1800px) {
  .ks-mainheader {
    ul {
      > li {
        a {
          padding: 0 2em;
        }
      }
    }
  }
}
