
.ks-heroslider {
  position: relative;
  height: 100vh;
  background: $dark;

  .flickity-page-dots {

    li.dot {
      width: 1em;
      height: 1em;
      background: $grey-beige;
      position: relative;

      &.is-selected {
        &:after {
          opacity: 1;
          transform: scale(1);
        }
      }

      &:after {
        content: '';
        display: block;
        width: 0.7em;
        height: 0.7em;
        border-radius: 50%;
        background: $dark-green;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -0.35em;
        margin-left: -0.35em;
        opacity: 0;
        transform: scale(0.1);
        transform-origin: center center;
        transition: all 0.3s ease;
      }
    }
  }
}

.ks-heroslider--img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &:after {
    content: '';
    display: block;
    @include fill-parent();
    background-color: rgba($dark-green, 0.6);
    mix-blend-mode: multiply;
  }
}

.ks-heroslider--slide {
  @include fill-parent();
  display: flex;
  align-items: center;
}
.ks-heroslider--content {
  position: relative;
  z-index: 99;
  width: 100%;
  color: $grey-beige;
  text-align: center;
  padding-top: 1em;
}

.ks-heroslider--text {
  max-width: 620px;
  margin: 0 auto;
}


@media (min-width:$bp-xl) {
  
  .ks-heroslider--text {
    max-width: 750px;
  }

}