
.ks-heroslider {
  position: relative;
  height: 100vh;
  background: $dark;

  .flickity-viewport {
    position: relative;

    .flickity-slider {
      @include fill-parent();
    }
  }
}

.ks-heroslider--slide {
  @include fill-parent();
}