
.ks-heroslider {
  position: relative;
  height: 100vh;
  background: $dark;

  .flickity-page-dots {

    li.dot {
      width: 1.2em;
      height: 1.2em;
      background: $grey-beige;
    }
  }
}

.ks-heroslider--img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &:after {
    content: '';
    display: block;
    @include fill-parent();
    background-color: rgba($dark-green, 0.6);
    mix-blend-mode: multiply;
  }
}

.ks-heroslider--slide {
  @include fill-parent();
  display: flex;
  align-items: center;
}
.ks-heroslider--content {
  position: relative;
  z-index: 99;
  width: 100%;
  color: $grey-beige;
  text-align: center;
  padding-top: 1em;
}

.ks-heroslider--text {
  max-width: 620px;
  margin: 0 auto;
}


@media (min-width:$bp-xl) {
  
  .ks-heroslider--text {
    max-width: 750px;
  }

}