.ks-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.4s $ease-out-circ;
  pointer-events: none;
  opacity: 0;

  &.active {
    pointer-events: all;
    z-index: 999999;
    opacity: 1;
  }

  &__content {
    opacity: 1;
    position: relative;
    height: 100vh;
  }

  .ks-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__close {
    position: absolute;
    top: 1em;
    right: 1em;

    &:hover {
      cursor: pointer;

      .ks-svg-wrapper svg {
        transform: rotate(360deg);

        circle,
        line {
          stroke: $primary;
        }
      }
    }

    .ks-svg-wrapper {
      width: 3em;

      &__liner {
        position: relative;
        padding-bottom: 100%;
      }

      svg {
        @include fill-parent();
        overflow: hidden;
        transform: rotate(0);
        transition: transform 0.4s $ease-in-out-back;

        circle,
        line {
          stroke-width: 1px;
          stroke: $light-grey;
        }
      }
    }
  }

  &:before {
    display: block;
    content: "";
    background: $dark;
    opacity: 0.75;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}

.ks-modal--search {
  .ks-modal__close {
    top: 0;
  }

  .ks-form {
    label,
    input[type="text"] {
      color: $white;
    }

    input[type="text"] {
      padding: 1em 0;
      font-family: $heading-font;
    }

    &-inputwrap {
      position: relative;
    }

    button[type="submit"] {
      appearance: none;
      border: none;
      background: transparent;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      color: $white;

      &:hover {
        cursor: pointer;
        color: $primary;
      }
    }
  }
}

.ks-modal--lightbox {
  &__main {
    position: relative;

    /* 
    * Give a little vignette effect to enhance the image, but most importantly,
    * provide some extra contrast for the close trigger that sits up top.
    */
    &:before,
    &:after {
      display: block;
      content: "";
      position: absolute;
      width: 100%;
      height: 15%;
      opacity: 0.5;
    }

    &:before {
      top: 0;
      background: linear-gradient(to bottom, $black, transparent);
    }

    &:after {
      bottom: 0;
      background: linear-gradient(to top, $black, transparent);
    }
  }

  img {
    display: block;
    width: 100%;
  }
}

@media (min-width: $bp-md) {
  .ks-modal--search {
    .ks-inner {
      width: 60%;
    }

    .ks-form {
      input[type="text"],
      button[type="submit"] {
        font-size: 2em;
      }
    }
  }
}

@media (min-width: $bp-xxl) {
  .ks-modal--search {
    .ks-inner {
      width: 50%;
    }
  }
}
