.ks-producthero {
  padding-top: $padding-sm;

  &__mainslider,
  &__thumbslider {
    img {
      display: block;
      max-width: 100%;
      min-width: 100%;
    }
  }

  &__mainslider {
    margin-bottom: 0.25em;
    position: relative;

    // &:hover {
    //   .ks-gallerycontrols {
    //     opacity: 0.75;
    //   }
    // }
  }

  &__thumbslider {
    position: relative;
    overflow: hidden;
  }

  &__enlarge {
    position: absolute;
    bottom: 1em;
    right: 2.25em;
    width: 1.5em;

    &:hover {
      cursor: pointer;

      svg polygon {
        fill: $primary;
      }
    }

    .ks-svg-wrapper {
      position: relative;

      &__liner {
        padding-bottom: 100%;
      }
    }

    svg {
      @include fill-parent();
      overflow: hidden;

      polygon {
        fill: $light-grey;
        transition: fill 0.2s $ease-out-circ;
      }
    }
  }

  .ks-gallerycontrols {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 0.75;
    transition: transform 0.2s $ease-out-circ, opacity 0.4s $ease-out-circ;
    pointer-events: none;

    &__prev,
    &__next {
      position: absolute;
      top: 0;
      height: 100%;
      width: 2em;
      background-color: $dark;
      opacity: 0.75;
      pointer-events: all;

      &:hover {
        cursor: pointer;
        opacity: 1;
      }

      svg {
        path {
          fill: $white;
        }
      }
    }

    .ks-svg-wrapper__liner {
      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &__prev {
      left: 0;
    }

    &__next {
      right: 0;
    }
  }

  &__thumbslide {
    width: 33%;
    margin-right: 1%;

    &:hover {
      cursor: pointer;
    }

    &__liner {
      position: relative;
    }
  }

  &__sku {
    margin-bottom: 2em;
  }

  &__title {
    @include clearfix();

    h1,
    .ks-producthero__price {
      float: left;
    }

    h1 {
      width: 72%;
    }

    .ks-producthero__price {
      width: 28%;
      text-align: right;
    }
  }

  &__shortdescription {
    margin-bottom: 4em;
  }

  &__currentselection {
    margin-bottom: 2em;
    transition: opacity 0.15s ease-out;

    span,
    p {
      line-height: 1;
    }

    span {
      font-family: $heading-font;
      font-size: 1.5em;
    }

    p {
      margin: 0;
    }
  }

  &__variants {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1em;
  }

  &__variant {
    position: relative;
    flex-basis: 22.5%;
    margin-bottom: 1em;

    img {
      display: block;
      max-width: 100%;
    }

    &:before {
      display: block;
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 101%;
      height: 101%;
      transform: translate(-48.75%, -52.5%) scale(0);
      transition: transform 0.4s $ease-out-circ;
      border: 1px solid $black;
      pointer-events: none;
    }

    &.active {
      &:before {
        transform: translate(-48.75%, -52.5%) scale(1);
      }
    }

    &.out-of-stock {
      position: relative;

      &:after {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        content: "Out of Stock";
        background: $primary;
        color: $white;
        font-size: 50%;
        padding: 0.5em 1em;
        border-radius: 2em;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__options {
    margin-bottom: 2em;

    &__group {
      margin-bottom: 1em;
    }
  }

  &__option {
    border: 1px solid $dark-green;
    color: $dark-green;
    padding: 0.5em 1em;
    transition: color 0.4s $ease-out-circ, background 0.4s $ease-out-circ;
    margin: 0.5em 0.5em 0 0;
    @extend .k-weight--lg;

    &.active {
      border-color: $primary;
      background: $primary;
      color: $white;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__quantity {
    margin-bottom: 2em;
  }

  &__addtocart {
    button,
    a {
      vertical-align: middle;
    }

    button {
      margin-right: 1em;
    }

    a {
      color: $dark;
      text-decoration: none;
      position: relative;

      &:hover {
        color: $primary;
      }
    }
  }
}

@media (min-width: $bp-md) {
  .ks-producthero {
    > .ks-inner {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-flow: row nowrap;
    }

    &__gallery {
      flex-basis: 40%;
      margin-right: 10%;
    }

    &__main {
      flex-basis: 50%;
    }

    &__variants {
      margin-bottom: 4em;
    }

    &__variant {
      &.out-of-stock {
        &:after {
          font-size: 66.67%;
          padding: 0.5em 1em;
        }
      }
    }

    &__option {
      &:first-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: $bp-xl) {
  .ks-producthero {
    &__main {
      flex-basis: 40%;
    }
  }
}
