.ks-threeup {
  .ks-flex-container {
    flex-flow: row wrap;
  }

  &__card {
    margin-bottom: 2.5em;
  }

  &__card-heading {
    margin: 0.5em 0;
  }

  &__card-content {
    margin-bottom: 2.5em;
  }
}

@media (min-width: $bp-md) {
  .ks-threeup {
    .ks-flex-container {
      justify-content: space-between;
    }

    &--2 {
      .ks-flex-container {
        justify-content: space-evenly;
      }
    }

    &__card {
      margin-bottom: 0;
      flex-basis: 26.1538462%;
    }
  }
}
