<section id="ks-hero-slider" class="ks-heroslider {% if module.slides | length < 2 %}ks-heroslider--nocarousel{% endif %}">
  
  {% for slide in module.slides %}
  <div class="ks-heroslider--slide">

    <div class="ks-heroslider--content">
      <div class="ks-inner">
        <div class="ks-heroslider--text">
          <h1 class="ks-headline--lg" style="font-weight: 400;">{{slide.headline}}</h1>
          <p>{{slide.description}}</p>
        </div>
      </div>
    </div>
    
    <div class="ks-fill-parent ks-heroslider--img" 
    {%- if loop.index == 1 -%}
      style="background-image:url({{slide.background_image.src}})"
    {%- else -%}
      data-src="{{slide.background_image.src}}"
    {%- endif -%}></div>
    
  </div>
  {% endfor %}
  
</section>