.ks-productdesc {
  padding: $padding-sm 0;
}

.ks-blueprint {
  margin-bottom: 4em;

  &__actions {
    padding: 1em 0;
    border-bottom: 1px solid $black;
  }

  a {
    display: block;
    line-height: 1;
    text-decoration: none;
    color: $black;
    text-transform: uppercase;
    font-size: 0.8em;

    &:hover {
      color: $primary;
    }

    &:first-child {
      margin-bottom: 1em;
    }
  }
}

.ks-productdesc {
  padding: $padding-md 0;
}

.ks-relatedproducts {
  padding: $padding-md 0;
  background: $lighter-grey;

  &__preheading {
    margin-bottom: 2em;
    font-family: $heading-font;
  }

  &__main {
    .ks-card {
      padding-right: 2em;
      margin-bottom: 2em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: $bp-sm) {
  .ks-relatedproducts {
    &__main {
      > .ks-inner {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
      }

      .ks-card {
        flex-basis: 48%;
      }
    }
  }
}

@media (min-width: $bp-md) {
  .ks-productdesc {
    > .ks-inner {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-flow: row nowrap;
    }

    &__heading {
      flex-basis: 45%;
      margin-right: 5%;
      position: sticky;
      top: 8em;
    }

    &__body {
      flex-basis: 40%;
    }
  }

  .ks-relatedproducts {
    &__preheading {
      margin-bottom: 4em;
    }

    &__main {
      .ks-card {
        flex-basis: 45%;
      }
    }
  }
}

@media (min-width: $bp-lg) {
  .ks-blueprint {
    &__actions.has-both {
      a {
        &:last-child {
          margin-left: 2em;
          position: relative;

          &:before {
            display: block;
            content: "";
            position: absolute;
            background: $black;
            height: 100%;
            width: 1px;
            left: -1rem;
            top: 0;
          }
        }
      }
    }

    a {
      display: inline-block;

      &:first-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: $bp-xxl) {
  .ks-relatedproducts {
    &__preheading {
      margin-bottom: 8em;

      .ks-preheading {
        font-size: 1.25em;
      }
    }
  }
}
