.ks-resourcelist {
  background: $bg-light;

  &__nav {
    padding: 2em 0;

    button {
      appearance: none;
      background-color: transparent;
      border: none;
      display: block;
      margin: auto;
      margin-bottom: 0.5em;
      color: $primary;

      &:hover {
        cursor: pointer;
        color: darken($primary, 15%);
      }
    }
  }

  &__items {
    opacity: 1;
    transition: opacity 0.25s linear;

    &.hiding {
      opacity: 0;
    }

    .ks-card {
      margin-bottom: 2em;

      &__title {
        margin-bottom: 0.5em;

        p {
          color: $dark;

          &:after {
            display: none;
          }
        }
      }

      &__actions {
        a {
          color: $primary;
          text-decoration: none;
        }
      }
    }
  }
}

@media (min-width: $bp-md) {
  .ks-resourcelist {
    &__nav {
      button {
        display: inline-block;
        margin-right: 0.5em;
      }
    }

    &__items {
      > .ks-inner {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        align-items: flex-start;
        padding: $padding-sm 0;
      }

      .ks-card {
        flex-basis: 48%;
        margin-bottom: 3em;
      }
    }
  }
}

@media (min-width: $bp-lg) {
  .ks-resourcelist {
    &__nav {
      text-align: center;

      button {
        margin: 0 1em;
      }
    }

    &__items {
      > .ks-inner {
        padding: $padding-md 0;
      }
    }
  }
}

@media (min-width: $bp-xl) {
  .ks-resourcelist {
    &__nav {
      padding: 3em 0;

      button {
        margin: 0 2em;
      }
    }

    &__items {
      > .ks-inner {
        justify-content: flex-start;
      }

      .ks-card {
        flex-basis: 33%;
        padding-right: 1em;
        margin-bottom: 4em;
      }
    }
  }
}
