<!--
    templateType: page
    isAvailableForNewContent: false
-->

    <section class="ks-sampleoffer">
      <div class="ks-inner">

        <div class="ks-sampleoffer__main">
          <h3 class="ks-headline ks-headline--md">
            Get a sample box & find your perfect outdoor finish.
          </h3>
          <p>Aliquam vitae magna dolor. Donec volutpat massa et ligula auctor lacinia. Fusce ornare, elit eget elementum tincidunt, lectus elit suscipit tellus, in sollicitudin augue est eu elit.</p>
          <a href="/products/fire-bowl-fireplace-surround-sample-kit" class="ks-btn">Order a Sample</a>
        </div>

        <div class="ks-sampleoffer__image">
          <figure class="ks-figure">
            <div class="ks-figure__liner">
              <img data-src="https://cdn2.hubspot.net/hubfs/6084868/hs-cms-files/images/kindred-sample-box@2x.png" alt="">
            </div>
          </figure>
        </div>

      </div>
    </section>
  {# close tags opened in header-primary #}
  </div>
</main>

<footer class="ks-footer">
  <div class="ks-site-container">
    <div class="ks-footer__bgimg" data-src="https://cdn2.hubspot.net/hubfs/6084868/hs-cms-files/images/mountains-footer-break@2x.png"></div>
    <div class="ks-footer__content">
      
      <div class="ks-footer__top">
        <div class="ks-inner">
          <div class="ks-footer__logo ks-footer__top__item">
            <a href="/">
              <figure class="ks-figure">
                <div class="ks-figure__liner">
                  <img data-src="https://www.mykindredliving.com/hubfs/kindred-logo--circle@2x.png" alt="">
                </div>
              </figure>
            </a>
          </div>
          <nav class="ks-footer__nav ks-footer__top__item">
            <div class="ks-footer__nav__list">
              <h3><a href="/shop/outdoor">Outdoor</a></h3>
              <ul>
                <li><a href="/shop/outdoor/building-blocks">Building Blocks</a></li>
                <li><a href="/shop/outdoor/fire-bowls">Fire Bowls</a></li>
                <li><a href="/shop/outdoor/fireplaces-fire-pits">Fireplaces & Fire Pits</a></li>
                <li><a href="/shop/outdoor/signature-kitchens">Signature Kitchens</a></li>
              </ul>
            </div>
            <div class="ks-footer__nav__list">
              <h3><a href="/shop/indoor">Indoor</a></h3>
              <ul>
                <li><a href="/shop/indoor/surrounds">Surrounds</a></li>
                <li><a href="/shop/indoor/hearths">Hearths</a></li>
                <li><a href="/shop/indoor/mantels">Mantels</a></li>
                <li><a href="/shop/indoor/accessories">Accessories</a></li>
              </ul>
            </div>
            <div class="ks-footer__nav__list">
              <h3><a href="/gallery">Gallery</a></h3>
              <h3><a href="/resources">Resources</a></h3>
              <h3><a href="/about-us">About Us</a></h3>
              <h3><a href="/find-a-dealer">Find A Dealer</a></h3>
              <h3><a href="/contact-us">Contact Us</a></h3>
            </div>
          </nav>
          <div class="ks-footer__form ks-footer__top__item">
            <h3>Subscribe to the latest products, news & events.</h3>
            <!--[if lte IE 8]>
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
            <![endif]-->
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
              hbspt.forms.create({
              portalId: "6084868",
              formId: "38235fd8-d981-46f8-92f4-9995fb0ce9ad"
            });
            </script>
          </div>
        </div>
      </div>

      <div class="ks-footer__bottom">
        <div class="ks-inner">
          <div class="ks-footer__bottom__item"><p>&copy; 2020. All rights reserved.</p></div>
          <div class="ks-footer__bottom__item">
            <ul>
              <li><a href="#0">Corporate</a></li>
              <li><a href="/terms-of-use">Terms of Use</a></li>
              <li><a href="/privacy-notice">Privacy Policy</a></li>
              <li><a href="https://datarequests.boralamerica.com" target="_blank" rel="noopener noreferrer">Do Not Sell my Personal Information</a></li>
              <li><a href="/sitemap">Sitemap</a></li>
            </ul>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</footer>

<div class="ks-modal ks-modal--lightbox">
  <div class="ks-modal--lightbox__content">
    <div class="ks-inner">
      <div class="ks-modal--lightbox__main">
        <img src="" alt="" />
        <div class="ks-modal__close">
          <div class="ks-svg-wrapper">
            <div class="ks-svg-wrapper__liner">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle">
                <circle cx="12" cy="12" r="10"></circle>
                <line x1="15" y1="9" x2="9" y2="15"></line>
                <line x1="9" y1="9" x2="15" y2="15"></line>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ks-modal ks-modal--search">
  <div class="ks-modal--search__content">
    <div class="ks-inner">
      <div class="ks-modal__close">
        <div class="ks-svg-wrapper">
          <div class="ks-svg-wrapper__liner">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle">
              <circle cx="12" cy="12" r="10"></circle>
              <line x1="15" y1="9" x2="9" y2="15"></line>
              <line x1="9" y1="9" x2="15" y2="15"></line>
            </svg>
          </div>
        </div>
      </div>
      <form class="ks-form">
        <div class="ks-form__liner">
          <fieldset>
            <label for="ks-search">Search</label>
            <div class="ks-form-inputwrap">
              <input type="text" name="search" id="ks-search" />
              <button type="submit">
                <span>&rarr;</span>
              </button>
            </div>
          </fieldset>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="ks-cookienotice">
  <div class="ks-cookienotice__content">
    <div class="ks-inner">
      <div class="ks-cookienotice__text">
        <p>We use cookies and other automatic data collection technologies to collect authentication information and information about your device, browsing actions, and patterns.  To learn more about how we use cookies, including how to disable them, and to learn more about our use and collection of personal information and your rights, view our <a href="/privacy-notice">Privacy Notice</a>.  By clicking “I accept” or by using our website, you agree to our use of cookies unless you have disabled them.</p>
      </div>
      <div class="ks-cookienotice__action">
        <button class="ks-btn">I Accept</button>
      </div>
    </div>
  </div>
</div>

<div id="ks-backdrop"></div>

{{standard_footer_includes}}

<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenMax.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/2.0.0/plugins/ScrollToPlugin.min.js"></script>
<script src="https://cdn2.hubspot.net/hubfs/6084868/hs-cms-files/app.bundle.js"></script>

{# close tags opened in header-primary #}
</body>
</html>