<!--
    templateType: page
    isAvailableForNewContent: false
-->





    <section class="ks-sampleoffer">
      <div class="ks-inner">

        <div class="ks-sampleoffer__image">
          <figure class="ks-figure">
            <div class="ks-figure__liner">
              <img src="https://cdn2.hubspot.net/hubfs/6084868/hs-cms-files/images/kindred-sample-box@2x.png" alt="">
            </div>
          </figure>
        </div>

        <div class="ks-sampleoffer__main">
          <h3 class="ks-headline ks-headline--md">
            Get a sample box & find your perfect outdoor finish.
          </h3>
          <p>Aliquam vitae magna dolor. Donec volutpat massa et ligula auctor lacinia. Fusce ornare, elit eget elementum tincidunt, lectus elit suscipit tellus, in sollicitudin augue est eu elit.</p>
          <a href="#0" class="ks-btn">Order a Sample</a>
        </div>

      </div>
    </section>
  {# close tags opened in header-primary #}
  </div>
</main>

<footer class="ks-footer">
  <div class="ks-site-container">
    <div class="ks-footer__bgimg" style="background-image: url('https://cdn2.hubspot.net/hubfs/6084868/hs-cms-files/images/mountains-footer-break@2x.png')"></div>
    <div class="ks-footer__content">
      
      <div class="ks-footer__top">
        <div class="ks-inner">
          <div class="ks-footer__logo ks-footer__top__item">
            <a href="/">
              <figure class="ks-figure">
                <div class="ks-figure__liner">
                  <img src="https://cdn2.hubspot.net/hubfs/6084868/hs-cms-files/images/kindred-logo--circle@2x.svg" alt="">
                </div>
              </figure>
            </a>
          </div>
          <nav class="ks-footer__nav ks-footer__top__item">
            <div class="ks-footer__nav__list">
              <h3><a href="/outdoors">Outdoors</a></h3>
              <ul>
                <li><a href="/building-blocks">Building Blocks</a></li>
                <li><a href="/fire-bowls">Fire Bowls</a></li>
                <li><a href="/fireplaces-fire-pits">Fireplaces & Fire Pits</a></li>
                <li><a href="/signature-kitchens">Signature Kitchens</a></li>
              </ul>
            </div>
            <div class="ks-footer__nav__list">
              <h3><a href="/surrounds">Surrounds</a></h3>
              <ul>
                <li><a href="/building-blocks">Building Blocks</a></li>
                <li><a href="/fire-bowls">Fire Bowls</a></li>
                <li><a href="/fireplaces-fire-pits">Fireplaces & Fire Pits</a></li>
                <li><a href="/signature-kitchens">Signature Kitchens</a></li>
              </ul>
            </div>
            <div class="ks-footer__nav__list">
              <h3><a href="/gallery">Gallery</a></h3>
              <h3><a href="/resources">Resources</a></h3>
              <h3><a href="/about-us">About Us</a></h3>
              <h3><a href="/find-a-dealer">Find A Dealer</a></h3>
              <h3><a href="/contact-us">Contact Us</a></h3>
            </div>
          </nav>
          <div class="ks-footer__form ks-footer__top__item">
            <h3>Subscribe to the latest products, news & events.</h3>
            <!--[if lte IE 8]>
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
            <![endif]-->
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
              hbspt.forms.create({
              portalId: "6084868",
              formId: "38235fd8-d981-46f8-92f4-9995fb0ce9ad"
            });
            </script>
          </div>
        </div>
      </div>

      <div class="ks-footer__bottom">
        <div class="ks-inner">
          <div class="ks-footer__bottom__item">&copy; 2020. All rights reserved.</div>
          <div class="ks-footer__bottom__item">
            <ul>
              <li><a href="#0">Corporate</a></li>
              <li><a href="#0">Legal</a></li>
              <li><a href="#0">Privacy Policy</a></li>
              <li><a href="#0">Sitemap</a></li>
            </ul>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</footer>

<div class="ks-modal--lightbox">
  <div class="ks-modal--lightbox__content">
    <div class="ks-inner">
      <div class="ks-modal--lightbox__main">
        <img src="" alt="" />
        <div class="ks-modal--lightbox__close">
          <div class="ks-svg-wrapper">
            <div class="ks-svg-wrapper__liner">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle">
                <circle cx="12" cy="12" r="10"></circle>
                <line x1="15" y1="9" x2="9" y2="15"></line>
                <line x1="9" y1="9" x2="15" y2="15"></line>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{standard_footer_includes}}

<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenMax.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/2.0.0/plugins/ScrollToPlugin.min.js"></script>
<script src="https://cdn2.hubspot.net/hubfs/6084868/hs-cms-files/app.bundle.js"></script>

{# close tags opened in header-primary #}
</body>
</html>