<!--
    templateType: page
    isAvailableForNewContent: false
-->


{# close tags opened in header-primary #}
</div>
</main>

<footer class="ks-footer ks-footer--squeeze">
  <div class="ks-site-container">
    <div class="ks-footer__bgimg" style="background-image: url('https://cdn2.hubspot.net/hubfs/6084868/hs-cms-files/images/mountains-footer-break@2x.png')"></div>
    <div class="ks-footer__content">
      <div class="ks-inner">
        <div class="ks-footer--squeeze__intro">
          <h3 class="ks-headline">Hello Friend</h3>
          <p>Stay connected! Be the first to learn about new arrivals, industry solutions and special offers.</p>
          <p>
            &nbsp;
          </p>
          <p style="font-size: 12px;">
            <a href="https://boralamerica.com/terms-of-use/" style="font-size: 11px; color: #994c3d; text-decoration: none;">Terms of Use</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://boralamerica.com/privacy-notice/" style="font-size: 11px; color: #994c3d; text-decoration: none;">Privacy Notice</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://datarequest.boralamerica.com/" style="font-size: 11px; color: #994c3d; text-decoration: none;">Do Not Sell My Personal Information</a>
          </p>
        </div>
        <div class="ks-footer--squeeze__form">
          <!--[if lte IE 8]>
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
          <![endif]-->
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
          <script>
            hbspt.forms.create({
            portalId: "6084868",
            formId: "9f2b43be-a724-44bd-97a1-b00c2f12819d"
          });
          </script>
        </div>
      </div>
      
    </div>
  </div>
</footer>

{{standard_footer_includes}}

<script src="https://cdn2.hubspot.net/hubfs/6084868/hs-cms-files/app.bundle.js?v=0.11.8"></script>

{# close tags opened in header-primary #}
</body>
</html>