<section class="ks-block ks-homepageslider">
  <div class="ks-inner">
    <div class="ks-homepageslider__mainimg">
      <figure class="ks-figure">
        <div class="ks-figure__liner">
          <img src="" />
        </div>
        <div class="ks-homepageslider__controls">
          <div class="ks-homepageslider__controls-fullscreen">
            <div class="ks-svg-wrapper ks-homepageslider__fullscreentrigger">
              <div class="ks-svg-wrapper__liner">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-maximize-2"><polyline points="15 3 21 3 21 9"></polyline><polyline points="9 21 3 21 3 15"></polyline><line x1="21" y1="3" x2="14" y2="10"></line><line x1="3" y1="21" x2="10" y2="14"></line></svg>
              </div>
            </div>
            <div class="ks-svg-wrapper ks-homepageslider__fullscreentrigger">
              <div class="ks-svg-wrapper__liner">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
              </div>
            </div>
          </div>
          <div class="ks-homepageslider__controls-prevnext">
            <div class="ks-svg-wrapper ks-homepageslider__prevtrigger">
              <div class="ks-svg-wrapper__liner">
                <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 62.42 119.45"><path class="cls-1" d="M91,16.67a2.51,2.51,0,0,1,1.77,4.27L37.13,76.6l55.26,55.26a2.5,2.5,0,0,1-3.53,3.53l-57-57a2.5,2.5,0,0,1,0-3.53L89.25,17.41A2.46,2.46,0,0,1,91,16.67Z" transform="translate(-31.09 -16.67)"/></svg>
              </div>
            </div>
            <div class="ks-svg-wrapper ks-homepageslider__nexttrigger">
              <div class="ks-svg-wrapper__liner">
                <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 62.42 119.45"><path class="cls-1" d="M33.59,136.13a2.51,2.51,0,0,1-1.77-4.27L87.48,76.21,32.21,20.94a2.5,2.5,0,0,1,3.54-3.53l57,57a2.49,2.49,0,0,1,0,3.53L35.36,135.39A2.5,2.5,0,0,1,33.59,136.13Z" transform="translate(-31.09 -16.67)"/></svg>
              </div>
            </div>
          </div>
        </div>
        {% for slide in module.slides %}
          {% for row in hubdb_table_rows(2036891) %}
            {% if row.hs_id == slide.product_id %}
            <div class="ks-homepageslider__product">
              <a href="/products/{{ row.hs_path }}">
                {{ row.product_title }}
              </a>
            </div>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </figure>
    </div>
    <div class="ks-homepageslider__carousel">
      {% for slide in module.slides %}
      <div class="ks-homepageslider__slide">
        <figure class="ks-figure">
          <div class="ks-figure__liner">
            <img src="{{ slide.image.src }}" />
          </div>
        </figure>
      </div>
      {% endfor %}
    </div>
  </div>
</section>